
<a id="download_{{downloadid}}" role="button" 
    class="btn jumbo-1 btn-xs dropdown-toggle" 
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  Download&nbsp;<span class="caret"></span>
</a>
<ul class="dropdown-menu" aria-labelledby="download_{{downloadid}}">
  <!-- Downloading as PNG -->
  <li>
    <a href="#" 
        downloadtype="hist-png"
        onclick="ru.dct.dct_download(this);"
        contentid="#dct_current_view"
        ajaxurl="{% url urlname object_id %}">Image (png)</a>
  </li>
  <li class="divider" role="separator"></li>

  <!-- Downloading JSON data -->
  <li>
    <a href="#" 
        downloadtype="json"
        onclick="ru.dct.dct_download(this);"
        contentid="#dct_current_view"
        ajaxurl="{% url urlname object_id %}">Data (json)</a>
  </li>
  <!-- Downloading as Excel -->
  <li>
    <a href="#" 
        downloadtype="excel"
        onclick="ru.dct.dct_download(this);"
        contentid="#dct_current_view"
        ajaxurl="{% url urlname object_id %}">Data (Excel)</a>
  </li>
</ul>

