{% load i18n %}

<div id="setlist_choices" class="dropdown view-mode">

  <div class="panel panel-none">

    <a id="listtype_menu" role="button" class="btn jumbo-1 btn-xs dropdown-toggle" 
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="" >
      List type<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="listtype_menu">
      <li>
        <!-- Add: manuscript -->
        <a id="setlist_choice_manu" title="Add a manuscript to the research set" 
            data-toggle="collapse" data-target="#setlist_add_manu"
            class="collapsed" >
          <span>Manuscript...</span>
        </a>
      </li>

      <li>
        <!-- Add: historical collection -->
        <a id="setlist_choice_hist" title="Add a historical collection to the research set" 
            data-toggle="collapse" data-target="#setlist_add_hist"
            class="collapsed" >
          <span>Historical collection...</span>
        </a>
      </li>

      <li>
        <!-- Add: personal dataset -->
        <a id="setlist_choice_ssgd" title="Add a public or personal SSG dataset to the research set" 
            data-toggle="collapse" data-target="#setlist_add_ssgd"
            class="collapsed" >
          <span>SSG dataset...</span>
        </a>
      </li>

    </ul>

    <!-- The different (initially hidden) places to select an item for this particular setlist -->
    <div id="setlist_add_manu" class="collapse" aria-labelledby="setlist_choice_manu" data-parent="#setlist_choices">
      Select one manuscript
      <div>{{rsetForm.manulist}}</div>
      <div class="card card-body">
        <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.postsubmit(this);">
          <span class="glyphicon glyphicon-plus"></span>&nbsp;Add manuscript
        </a>
      </div>
    </div>

    <div id="setlist_add_hist" class="collapse" aria-labelledby="setlist_choice_hist" data-parent="#setlist_choices">
      Select one historical collection
      <div>{{rsetForm.histlist}}</div>
      <div class="card card-body">
        <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.postsubmit(this);">
          <span class="glyphicon glyphicon-plus"></span>&nbsp;Add historical collection
        </a>
      </div>
    </div>

    <div id="setlist_add_ssgd" class="collapse" aria-labelledby="setlist_choice_ssgd" data-parent="#setlist_choices">
      Select one personal or public SSG dataset
      <div>{{rsetForm.ssgdlist}}</div>
      <div>{{rsetForm.ssgdname}}</div>
      <div class="card card-body">
        <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.postsubmit(this);">
          <span class="glyphicon glyphicon-plus"></span>&nbsp;Add SSG dataset
        </a>
      </div>
    </div>

  </div>

</div>

