bibtexparser==1.1.0
certifi==2018.11.29
chardet==3.0.4
demjson==2.2.4
Django==1.11.29
django-appconf==1.0.3
django-select2==6.3.1
et-xmlfile==1.0.1
feedparser==5.2.1
future==0.17.1
idna==2.8
jdcal==1.4
Markdown==3.1
openpyxl==2.5.14
pathlib==1.0.1
Pillow==7.1.0
pyparsing==2.4.0
pytz>=2018.9
Pyzotero==1.4.4
reportlab==3.5.32
requests==2.21.0
six==1.12.0
urllib3>=1.24.2
xmltodict==0.12.0