{% extends "layout.html" %}
{% load static %}


{% block content %}

<div class="container body-content">  
  <div class="row">
    <div class="col-md-6">   
      <h3>About</h3>
      <p>The PASSIM research tool is one of the outputs of the ERC project ‘Patristic Sermons in the Middle Ages’ 
        (ERC_StG_802210, Radboud University, 2019-2024). This project studied the medieval reception of the Latin 
        sermons preached by the Early Church Fathers, through a digital database of the manuscripts that transmit 
        sermons and sermon collections.</p>
      <p>Patristic sermons do not just belong to Late Antiquity, they had a medieval afterlife, which fundamentally 
        influenced their survival, their shape, their text, and our perception of all these characteristics. 
        The essential purpose of the PASSIM research tool is to make this medieval transmission visible and 
        accessible to the scholarly community.</p>
      <p>The PASSIM research tool is a relational database containing metadata on sermons and manuscripts. 
        Its data come from a variety of digital and analogue sources: library catalogues, databases, 
        reference works, editions, scholarly articles. A traffic light system marks the state of each 
        record (automatically imported, edited, approved).</p>
        <p>The fundamental structure of the dataset revolves around interconnected authority files for each sermon. 
        In addition to these authority files, PASSIM provides information on the medieval manuscripts that 
        contain Latin patristic sermons and on ‘manifestations’, i.e. the texts as they appear in the manuscripts 
        (with misattributions, unique titles etc.).</p>
      <p>Although PASSIM is at its core a heuristic tool, we have incorporated options that allow it to 
        function as a virtual research environment. Users can save queries, create and save personal datasets, 
        add keywords to items, generate, save and download visualisations, or leave comments for the database editors.</p>
      <p>More information on the functionalities of PASSIM can be found in the user manual.</p>
        
      <h3>Contribute</h3>
      <p>
        In addition to the data of the <a href="https://www.ru.nl/onderzoek/onderzoeksprojecten/passim-project" target="_blank">PASSIM project</a>, 
        the PASSIM research tool also houses other datasets (see <a href="{% url 'project2_list' %}" target="_blank">Projects</a>). 
        Interested in using PASSIM to house your data? A tool for bulk import is under construction. In the meantime, 
        contact <a href="mailto:shari.boodts@ru.nl">shari.boodts@ru.nl</a> for more information.
      </p>      
    </div>

    <div class="col-md-6">
      <h3>News</h3>
      {% if newsitem_list %}
      {% for item in newsitem_list %}
      <div class="panel-news panel-default">
        <div class="panel-heading collapsed" data-toggle="collapse" data-target="#news-item-{{item.id}}">
          <span>{{item.title}}</span>
          <span class="pull-right" style="font-size: smaller;">
            {% if item.saved|date:"j/b/o" == item.created|date:"j/b/o" %}
            <i>{{item.saved|date:"j/b/o"}}</i>
            {% else %}
            <i>{{item.created|date:"j/b/o"}} - {{item.saved|date:"j/b/o"}}</i>
            {% endif %}
          </span>
        </div>
        <div class="collapse newsitem" id="news-item-{{item.id}}">
          {{item.msg|safe}}
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p><i>(There is no news yet)</i></p>
      {% endif %}
      <h3>Quickly to</h3>        
        <ul>
          <li><a href="{% url 'guide' %}" target="_blank">User manual</a></li>
          <li><a href="{% url 'technical' %}" target="_blank">Technical information</a></li>
          <li>Tutorials</li>
        </ul>
    </div>
    </div>
    
  <div class="row">
    <div class="col-md-12">
      <h3>How to Quote</h3>
      <p>We would very much appreciate it if you could refer to the use of PASSIM in your publications using the following reference:</p>
      
      <p>S. Boodts, G. Schmidt, R. Macchioro, I. Denis, M. Rempt, E. Komen, T. Hermsen (2024). 
          <i>PASSIM Research Tool. Version 1.3.4.</i> Radboud University. Accessed xx.xx.20xx 
          (<a href="https://passim.rich.ru.nl" target="_blank">https://passim.rich.ru.nl/</a>).</p>         
        
    </div>
  </div>
</div>
{% endblock %}
