{% extends "layout.html" %}
{% load static %}

{% block content %}

<div class="container body-content">
  <div class="jumbotron" style="max-height: 220px;">
    <h1>
      <span>PASSIM</span>
      <span class="pull-right">
        {% if not user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Log in</a>
        <a class="btn btn-default" href="{% url 'signup' %}">Sign up</a>
        {% endif %}
        
      </span>
    </h1>
    <p class="lead">
      <span class="" style="color: black; font-size: large;"> An Open Source research tool for the study of Latin patristic sermons and their medieval manuscript transmission.</span>
    </p>    
  </div>

  {% if is_404 %}
  <div class="sent-error">
    Sorry, but the path that you attempted to use is not available for the Passim application.
  </div>
  {% endif %}

  {% if profile_msg %}
    <div style="color: red; background-color: lightcyan;">Please update your 
      <a role="button" class="btn jumbo-3" href="{{profile_url}}">Profile</a>
    </div>
  {% endif %}

  
 <div class="row">
   <div class="col-md-12">
      <div class="search">SEARCH</div>

       <div class="buttonbox">
         <a class="button1" href="{% url 'equalgold_list' %}" target="_blank"></a>       
         <div style="font-size: 15px; ">AUTHORITY FILES</div>
       </div>

       <div class="buttonbox">
         <a class="button2" href="{% url 'sermon_list' %}" target="_blank"></a>       
         <div style="font-size: 15px; ">MANIFESTATIONS</div>
       </div>

       <div class="buttonbox">
         <a class="button3" href="{% url 'manuscript_list' %}" target="_blank"></a>       
         <div style="font-size: 15px; ">MANUSCRIPTS</div>
       </div>

      <p>
        The PASSIM research tool provides access to a database of metadata on antique and medieval works and their 
        manuscript transmission, with a focus on Latin patristic sermons. There are three main categories of information. 
        <a href="{% url 'equalgold_list' %}" target="_blank">Authority files</a> serve as stable identifiers for texts. 
        The unique features of the texts in their manuscript context 
        (e.g., titles, incorrect author attributions, alternative incipits) are recorded 
        under <a href="{% url 'sermon_list' %}" target="_blank">Manifestations</a>. 
        General information and content descriptions of the <a href="{% url 'manuscript_list' %}" target="_blank">Manuscripts</a> 
        constitute the third category. PASSIM functions as a virtual research environment, allowing users to save searches, create personal datasets, 
        visualize results and export data. We provide Tutorials on functionalities and tools.
      </p> 
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 bgimg">
    <p>
      Initially built for a dataset of patristic sermons and their manuscripts, PASSIM houses also other datasets. 
      Users can isolate specific datasets (<a href="{% url 'project2_list' %}" target="_blank">Projects</a>) 
        to execute a targeted search. Current projects in PASSIM include:
    </p>
    <!--buttons and link to description-->
    
    
    {% if prj_links|length > 0 %}
    <table>
        {% for prj_item in prj_links %}
        <tr>
            <td>
            <a href="{{prj_item.url}}">{{prj_item.name}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}


    <p>
      <br />
      Interested in importing your own data into PASSIM? See the <a href="{% url 'home' %}" target="_blank">Contribute</a> page.
    </p>

    </div>

    <div class="col-md-6 bgimg">
      <h2>Summary</h2>
      <p>
        The PASSIM dataset is under development. It currently contains {{count_ssg}} authority files, {{count_sermon}} manifestations and {{count_manu}} manuscripts.        
      </p>

      <div class="row" style="height: 200px;" targeturl="{% url 'guide' %}">
        <div id="pie_sermo" class="col-md-4">
        </div>
        <div id="pie_super" class="col-md-4">
        </div>
        <div id="pie_manu" class="col-md-4">
        </div>
      </div>


      <p>See this <a href="{% url 'guide' %}" target="_blank">explanation</a> for the figures.</p> 
           

      
     
    </div>
  </div>

   <div class="row">
   <div class="col-md-12">           
      <p>
        <br>
        The PASSIM research tool was designed by the Radboud Humanities Computer Lab and funded by the European Research Council (ERC) 
        under the European Union's Horizon 2020 research and innovation programme under grant agreement No ERC-2018-stg 802210. 
        Manuscript images were taken from Sankt Gallen, Stiftsbibl. 433 <a href="https://e-codices.unifr.ch/en" target="_blank">e-codices.unifr.ch</a>
               
        <a href="https://erc.europa.eu/" target="_blank" style="margin: 10px;">
          <img src="https://erc.europa.eu/sites/default/files/LOGO_ERC-FLAG_EU_.jpg" style='max-width: 300px; width: auto; height: auto;' title="European Research Council"/>        
        </a>

        <a href="https://www.ru.nl/en/radboud-institute-for-culture-history" target="_blank" style="margin: 10px;">
          <img  src="https://cls.ru.nl/RU_logo.svg" style='max-width: 300px; width: auto; height: auto;' title="Radboud Universiteit"/>        
        </a>         

      </p> 
    </div>
  </div>
</div>
{% if profile_msg %}
  <!-- Modal form for profile updating -->
  <div id="modal-profile" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div class="modal-content" style='width: 70%;'>
        <!-- introduction header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Your profile</h3>
        </div>

        <!-- Body of the modal-->
        <div class="modal-body modal-dragpoint" id="view-profile">
          <!-- This is where the actual help shows up -->
          <div style='height: 200px; overflow-y: scroll;'>
            <h4>Your profile lacks some important information.</h4>
            <div>&nbsp;</div>
            {% for line in profile_msg %}
              <div>{{line|safe}}</div>
            {% endfor %}
            <div style="color: red; background-color: lightcyan;">
              Continue to update your <a role="button" class="btn jumbo-3" href="{{profile_url}}">Profile</a>
            </div>
          </div>
        </div>

        <!-- Footer with the save button -->
        <div class="modal-footer">
          <a class="btn jumbo-1" data-dismiss="modal">
            <span class="glyphicon glyphicon-ok" title="Close reminder">&nbsp;Close</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<script type="text/javascript">
  var g_pie_data = {{ pie_data| safe}};

</script>
{% if profile_msg %}
  <script type="text/javascript">
    $(window).on('load', function () {
      $('#modal-profile').modal('show');
    });
  </script>
{% endif %}


{% endblock %}
