{% extends "layout.html" %}
{% load staticfiles %}


{% block content %}

<div class="container body-content">
  <h2>Personal Research Environment</h2>
  <div class="row">
    <div class="col-md-12">
      The personal research environment is the place where user-related items will be placed in the future.
      The version you are seeing here is only a preliminary one.
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <section>
        <h3>Searches</h3>
        <p>This could contain your top ten searches
        </p>
        <p>
        </p>
      </section>

      <section>
        <h3>Keywords</h3>
        <p>List of my own keywords</p>
      </section>

      <section>
        <h3>Dynamic Comparative Table</h3>
        <p>
          View and work with research sets on the <em>development version</em> of 
          the <a role="button" class="btn btn-xs jumbo-1" href="{% url 'researchset_list' %}">DCT tool</a> page.
        </p>
        <p>Current statistics: {{rset_count}} research set(s) and {{dct_count}} DCT(s).
        </p>
      </section>
    </div>

    <div class="col-md-6">
      <section>
        <h3>Datasets</h3>
        <p>List of <a role="button" class="btn btn-xs jumbo-1"  href="{% url 'collpriv_list' %}">my datasets</a>
        (current size: {{count_datasets}}).
        </p>
      </section>

      <section>
        <h3>Pictures</h3>
        <p>This could contain a list of the most recent pictures that you have created.

        </p>
      </section>

      {% if is_app_editor %}
        <section>
          <h3>Edit actions</h3>
          <p>Importing projects can be done by an editor via JSON, Excel and some other ways.
            The items an editor can import are: Manuscript, Sermon, Historical Collection and Authority File.</p>

          <table>
            <!-- Edit privileges-->
            <tr>
              <td valign="top" colspan="2" class="hangingindent">You are an editor within Passim for these projects:</td>
              <td></td>
            </tr>
            <tr>
              <td valign="top" colspan="2">{% spaceless %}{{edit_projects|safe}}{% endspaceless %}</td>
              <td></td>
            </tr>

            <!-- Default project assignment -->
            <tr>
              <td valign="top" colspan="2" class="hangingindent">By default assign all items that I import to the following project(s):</td>
              <td></td>
            </tr>
            <tr>
              <td valign="top" colspan="2" >{{default_projects|safe}}</td>
              <td>
                <a href="{% url 'default_details' profile.id  %}" role="button" title="Edit default project assignment" class="btn btn-xs jumbo-1">
                  <span class="glyphicon glyphicon-pencil" title="Edit default project assignment"></span>
                </a>
              </td>
            </tr>
           </table>
           <table>
            <h4>Field changes Authority File</h4>
            <!-- Empty table row -->
            <tr><td colspan="3">&nbsp;</td></tr>
            
            <!-- Submitted changes -->
            <tr>            
              <td valign="top" class="hangingindent">My Authority File field change suggestions:</td>
              <td valign="top">
                <a href="{% url 'equalchangeuser_list' %}" role="button" title="View all my Authority File suggestions" class="btn btn-xs jumbo-1">
                  {{count_fchange_all}}
                  <span class="glyphicon glyphicon-check" title="View all my Authority File suggestions"></span>
                </a>
              </td>
              <td valign="top">
                <a href="{% url 'equalchangeuser_list' %}?user-atype=def" role="button" title="View my pending Authority File suggestions" 
                   class="btn btn-xs {% if count_fchange_open == 0 %}jumbo-1{% else %}jumbo-2{% endif %}">
                  {{count_fchange_open}}
                  <span class="glyphicon glyphicon-edit" title="View my pending Authority File suggestions"></span>
                </a>
              </td>
            </tr>

            <!-- Empty table row -->
            <tr><td colspan="3">&nbsp;</td></tr>

            <!-- For me to review -->
            <tr>
              <td valign="top" class="hangingindent">Suggestions that I need to review:</td>
              <td valign="top">
                <a href="{% url 'equalapprovaluser_list' %}" role="button" title="View all my Authority File reviews" class="btn btn-xs jumbo-1">
                  {{count_approve_all}}
                  <span class="glyphicon glyphicon-check" title="View all my Authority File reviews"></span>
                </a>
              </td>
              <td valign="top">
                <a href="{% url 'equalapprovaluser_list' %}?user-atype=def" role="button" title="View my pending Authority File reviews" 
                   class="btn btn-xs {% if count_approve_task == 0 %}jumbo-1{% else %}jumbo-2{% endif %}">
                  {{count_approve_task}}
                  <span class="glyphicon glyphicon-edit" title="View my pending Authority File reviews"></span>
                </a>
              </td>
            </tr>
           </table>
           <table>
            <h4>New additions Authority File</h4>
            <!-- Empty table row -->
            <tr><td colspan="3">&nbsp;</td></tr>
            
            <!-- Submitted new AF additions AANPASSEN + COUNT!--> 
            <tr>            
              <td valign="top" class="hangingindent">My Authority File additions:</td>
              <td valign="top">
                <a href="{% url 'equaladduser_list' %}" role="button" title="View all my Authority File additions" class="btn btn-xs jumbo-1">
                  {{count_afadd_all}}
                  <span class="glyphicon glyphicon-check" title="View all my Authority File additions"></span>
                </a>
              </td>
              <td valign="top">
                <a href="{% url 'equaladduser_list' %}?user-atype=def" role="button" title="View my pending Authority File additions" 
                   class="btn btn-xs {% if count_fchange_open == 0 %}jumbo-1{% else %}jumbo-2{% endif %}">
                  {{count_afadd_open}}
                  <span class="glyphicon glyphicon-edit" title="View my pending Authority File additions"></span>
                </a>
              </td>
            </tr>

            <!-- Empty table row -->
            <tr><td colspan="3">&nbsp;</td></tr>

            <!-- New AF additions for me to review -->
            <tr>
              <td valign="top" class="hangingindent">New AF additions that I need to review:</td>
              <td valign="top">
                <a href="{% url 'equaladdapprovaluser_list' %}" role="button" title="View all my reviews of AF additions" class="btn btn-xs jumbo-1">
                  {{count_afaddapprove_all}}
                  <span class="glyphicon glyphicon-check" title="View all my reviews of AF additions"></span>
                </a>
              </td>
              <td valign="top">
                <a href="{% url 'equaladdapprovaluser_list' %}?user-atype=def" role="button" title="View my pending reviews of AF additions" 
                   class="btn btn-xs {% if count_approve_task == 0 %}jumbo-1{% else %}jumbo-2{% endif %}">
                  {{count_afaddapprove_all}}
                  <span class="glyphicon glyphicon-edit" title="View my pending reviews of AF additions"></span>
                </a>
              </td>
            </tr>
           </table>
        </section>
      {% endif %}

    </div>
  </div>



</div>
{% endblock %}
