{% load static %}

    <div class="navbar navbar-custom navbar-fixed-top">        
        <div class="container" url_home="{% url 'home' %}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Image -->                
                <img src="{% static 'seeker/content/IconPassimRGB.png' %}" style="margin-top: 6px; max-height: 40px; width: auto; height: auto;" title="Passim logo"/>

                <a href="{% url 'home' %}" class="navbar-brand">PASSIM
                [{% if user.is_authenticated %} {{user.username}} {% else %} (not logged in) {% endif %}]                
                </a>
            
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_superuser %}
                    
                    <li><a href="{% url 'definitions' %}">Definitions</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">Browse<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <!-- Used to be 'search_sermon' -->
                          <li><a href="{% url 'equalgold_list' %}"  title="List and search Authority Files">Authority Files</a></li>
                          <li><a href="{% url 'sermon_list' %}"  title="List and search manifestations">Manifestations</a></li>
                          <li><a href="{% url 'search_manuscript' %}"  title="List and search manuscripts">Manuscripts</a></li>   
                        </ul>
                      </li>

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
                        <ul class="dropdown-menu">                          
                          <li><a href="{% url 'researchset_list' %}" title="Research Sets for Dynamic comparative tables">Dynamic Comparative Table</a></li>
                          <li><a href="{% url 'sermonboard' %}" title="Gleb's plugin'">Plugin</a></li>
                          {% if is_stemma_user %}
                            <li><a href="{% url 'stemmaset_list' %}" title="Research Sets for Stemmatology">Stemmatology</a></li>
                          {% endif %}
                          {% if is_app_editor %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'userkeyword_list' %}" title="User Keywords">User Keywords</a></li>
                            <li><a href="{% url 'comment_list' %}" title="User Comments">User Comments</a></li>
                          {% endif %}
                          {% if user.is_superuser %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'equalchangeall_list' %}" title="SSG Field changes">Field Changes</a></li> 
                            <li><a href="{% url 'equalapprovalall_list' %}" title="SSG Field change approvals">Field Approvals</a></li> 
                          {% endif %}
                          {% if 0 and user.is_superuser %}
                            <li><a href="{% url 'testunit_list' %}">Enrich: test units</a></li>
                            <li><a href="{% url 'testset_list' %}">Enrich: test sets</a></li>                            
                          {% endif %}
                          
                        </ul>
                      </li>                  
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">Indices<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'keyword_list' %}" title="List of keywords">Keywords</a></li>
                          <li><a href="{% url 'feast_list' %}" title="List of feasts">Feasts</a></li>
                          <li><a href="{% url 'bibrange_list' %}" title="List of Bible references">Bible References</a></li>                          
                          <li><a href="{% url 'library_search' %}" title="List of libraries">Libraries</a></li>                           
                          {% if is_app_editor %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'origin_list' %}" title="List of defined manuscript origins">Origins</a></li>
                            <li><a href="{% url 'provenance_list' %}" title="List of provenances">Provenances</a></li>
                            <li><a href="{% url 'location_list' %}" title="List of location information">Locations</a></li>                            
                            <li role="separator" class="divider"></li>
                          {% endif %}                                                    
                          <li><a href="{% url 'author_search' %}" title="List of people">Persons</a></li>
                          <li><a href="{% url 'collhist_list' %}" title="List and search historical collections">Historical Collections</a></li>                          
                        </ul>
                      </li>  

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'project2_list' %}" title="Projects">Projects</a></li>
                          <li><a href="{% url 'literature_list' %}" title="Bibliography">Bibliography</a></li>
                          <li><a href="{% url 'onlinesources_list' %}" title="Online Sources">Online Sources</a></li>
                        </ul>
                      </li>

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">MyPASSIM<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                           <li><a href="{% url 'mypassim_details' %}" title="My PASSIM">My PASSIM</a></li>
                           <!-- Add Personal dataset title="List of Personal dataset">Personal datasets</li>-->                           
                           {% if is_app_editor %}
                             <li role="separator" class="divider"></li> 
                             <li><a href="{% url 'template_list' %}" title="List of available manuscript templates">Templates</a></li>
                             <li role="separator" class="divider"></li>
                           {% endif %}
                           {% if is_app_moderator %}
                             <li><a href="{% url 'sync_passim' %}" title="Synchronisation of Zotero and other items">Synchronisation</a></li>
                             <li><a href="{% url 'profile_list' %}" title="User Profiles">User Profiles</a></li>
                             <li><a href="{% url 'citem_list' %}" title="Content management system">CMS</a></li>
                             <li><a href="{% url 'admin:seeker_newsitem_changelist' %}" title="Modify news items">Modify news items</a></li>
                           {% endif %}
                        </ul>
                      </li>


                       

                      {% if 0 and is_enrich_editor %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                             aria-haspopup="true" aria-expanded="false">Enrich<span class="caret"></span></a>
                        
                         <ul class="dropdown-menu">
                            <li><a href="{% url 'speaker_list' %}">Speakers</a></li>
                            <li><a href="{% url 'sentence_list' %}">Sentences</a></li>
                            <li><a href="{% url 'testunit_list' %}" title="A unit combines speaker/sentence/variety">Test units</a></li>
                            <li><a href="{% url 'testset_list' %}" title="Four rounds of 156 testsets">Test sets</a></li>
                          </ul>
                        </li>
                      {% endif %}

                      {% if is_app_uploader %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                             aria-haspopup="true" aria-expanded="false">Developers<span class="caret"></span></a>
                        
                         <ul class="dropdown-menu">
                            <li><a href_was="#" href="{% url 'create_pdf_lit' %}" title="Create PDF with literature references">Create PDF with literature references</a></li> 
                            
                            <li role="separator" class="divider"></li>
                            <li><a href_was="#" href="{% url 'create_pdf_edi' %}" title="Create PDF with edition references">Create PDF with edition references</a></li> 
                            
                            <li role="separator" class="divider"></li>
                            <li><a href_was="#" href="{% url 'create_pdf_manu' %}" title="Create PDF with all manuscripts in PASSIM">Create PDF with all manuscripts in PASSIM</a></li> 

                            <li role="separator" class="divider"></li>
                            <li><a href_was="#" href="{% url 'do_huwa' %}" title="Analyse HUWA database">HUWA analysis</a></li>

                            <li role="separator" class="divider"></li>
                            <li><a href_was="#" href="{% url 'import_cppm_manuscripts' %}" title="Import CPPM manuscripts">Import CPPM manuscripts</a></li>

                            <li role="separator" class="divider"></li>
                            <li><a href_was="#" href="{% url 'import_cppm_af' %}" title="Import CPPM Authority Files">Import CPPM AFs</a></li>                                                       
                            
                            <li role="separator" class="divider"></li>
                            <li><a href_was="#" href="{% url 'import_cppm_eqset' %}" title="Import CPPM Eqset">Import CPPM Eqset</a></li>

                          </ul>
                        </li>
                      {% endif %}

                    {% endif %}
                </ul>

                {% if user.is_authenticated %}
                  <form id="logoutForm" action="{% url 'logout' %}" method="post" class="navbar-right">
                      {% csrf_token %}
                  </form>
                {% endif %}                


                <ul class="nav navbar-nav navbar-right">                   
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                         aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'about' %}" title="The about page of the PASSIM application">About</a></li>
                        <li><a href="{% url 'about' %}" title="How to quote" >How to quote</a></li>                        
                        <li><a href="{% static 'seeker/content/PASSIM_User_Guide_v1.0.pdf'  %}" target="_blank" title="The user manual of the PASSIM application">User manual</a></li>
                        <li><a href="{% url 'guide' %}" title="The import manual of the PASSIM application">Import manual (coming soon)</a></li>
                        <li><a href="{% url 'technical' %}" title="Technical">Technical information</a></li>
                        <li><a href="{% url 'contact' %}" title="How to contact the PASSIM team" >Contact</a></li>
                        {% if is_app_editor %}
                         <li role="separator" class="divider"></li>                                                 
                         <li><a href="{% url 'report_list' %}" title="List reports of uploading etc.">Reports</a></li>
                         <li><a href="{% url 'source_list' %}" title="List of source information">Sources</a></li>             
                        {% endif %}
                      </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">User<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <!-- Used to be 'search_sermon' -->
                          {% if user.is_authenticated %}
                            {% if user.user_profiles.first.id %}
                              <li><a href="{% url 'profile_details' user.user_profiles.first.id  %}" title="Edit user's' profile">Profile user</a></li>
                              <li role="separator" class="divider"></li> 
                            {% endif %}
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            <li><a href="{% url 'admin:password_change' %}">Change password</a></li>
                          {% else %}
                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Log in</a></li>
                            <li><a href="{% url 'signup' %}">Sign up</a></li>
                          {% endif %}
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
