{% load staticfiles %}

    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container" url_home="{% url 'home' %}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand">passim
                [{% if user.is_authenticated %} {{user.username}} {% else %} (not logged in) {% endif %}]                
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_superuser %}
                    <li><a href="{% url 'definitions' %}">Definitions</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">Search<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <!-- Used to be 'search_sermon' -->
                          <li><a href="{% url 'sermon_list' %}">Sermon</a></li>
                          <li><a href="{% url 'search_manuscript' %}">Manuscript</a></li>
                          <li><a href="{% url 'search_collection' %}">Collection</a></li>
                          <li><a href="{% url 'library_search' %}">Library</a></li>
                          <li><a href="{% url 'author_search' %}">Author</a></li>
                            <li role="separator" class="divider"></li>
                          <li><a href="{% url 'search_gold' %}">Gold-Sermon</a></li>
                        </ul>
                      </li>

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
                        
                       <ul class="dropdown-menu">
                          <li><a href="{% url 'bibliography' %}" title="Bibliography">Bibliography</a></li>
                          {% if is_passim_editor %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'location_list' %}" title="List of source information">Locations</a></li>
                            <li><a href="{% url 'origin_list' %}" title="List of defined manuscript origins">Origins</a></li>
                            <li><a href="{% url 'report_list' %}" title="List reports of uploading etc.">Reports</a></li>
                            <li><a href="{% url 'source_list' %}" title="List of source information">Sources</a></li>
                          {% endif %}
                        </ul>
                      </li>

                      {% if is_passim_uploader %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                             aria-haspopup="true" aria-expanded="false">Developers<span class="caret"></span></a>
                        
                         <ul class="dropdown-menu">
                            <li><a href="" title="Upload XML files from e-codices (ch)">Import e-codices XML</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'entries_json' %}" title="Upload lists, like names of libraries">Upload lists</a></li>

                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'do_goldtogold' %}" title="Correct all gold-to-gold relations">Gold to gold Relations correct</a></li>
                            <li><a href="{% url 'do_provenance' %}" title="Remove duplicate Manuscript-Provenance links">Tweak provenances</a></li>
                            <li><a href="{% url 'do_sermons' %}" title="Remove duplicate SermonDescr from Manuscripts">Tweak manuscript-sermons</a></li>

                            <li role="separator" class="divider"></li>
                            <li><a href="#" href_was="{% url 'do_clavis' %}" title="Correct Clavis by adding CPPM to number-only">Clavis correct</a></li>
                            <li><a href="#" href_was="{% url 'do_stype' %}" title="Correct Status Types for Gold, Sermon, Manuscript">Stype Setting</a></li>
                            <li><a href="#" href_was="{% url 'do_locations' %}" title="Convert locations">Convert locations</a></li>
                            <li><a href="#" href_was="{% url 'do_mext' %}" title="Copy URL to ManuscriptExt">Copy manuscript links to externals</a></li>
                          </ul>
                        </li>
                      {% endif %}

                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                         aria-haspopup="true" aria-expanded="false">Extra... <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        {% if user.is_authenticated %}
                          <form id="logoutForm" action="{% url 'logout' %}" method="post" class="navbar-right">
                              {% csrf_token %}
                          </form>
                          <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                          <li><a href="{% url 'admin:password_change' %}">Change password</a></li>
                        {% else %}
                          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Log in</a></li>
                          <li><a href="{% url 'signup' %}">Sign up</a></li>
                        {% endif %}
                      </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
