<!-- Lists of related items -->
{% for related in related_objects_af %}
    <div class="row related-root {{related.classes}}" id="basic_{{related.prefix}}_set" >

    <!-- Hidden related hierarchy submit form -->
    <div class="hidden">
        <form id="save_related_{{related.prefix}}" method="post" 
            action="{% if basic_form.instance.id %}{{detailsview}}{% endif %}">
        {% csrf_token %}
        <input type="text" id="id_{{related.prefix}}-hlist" name="{{related.prefix}}-hlist" value="" />
        <input type="text" id="id_{{related.prefix}}-glist" name="{{related.prefix}}-glist" value="" />
        <input type="text" id="id_{{related.prefix}}-savenew" name="{{related.prefix}}-savenew" value="false" />
        </form>
    </div>

    <div class="related-original">
        <div class="col-md-12">
        <h5>
            <span>{{related.title}}</span>
            {% if related.custombutton %}
            <span class="pull-right">
                {{related.custombutton|safe}}
            </span>
            {% endif %}
            <!-- Always: show/hide the row to show/hide columns -->
            <span class="pull-right">
            <a class="btn btn-s jumbo-1" data-toggle="collapse" data-target="#tab_{{related.prefix}}_colwrap" role="button" title="Show/hide column(s)...">
                <span class="glyphicon glyphicon-tasks"></span>
            </a>
            </span>
            {% if related.savebuttons %}
            <span class="hidden related-save pull-right">
                <span style="font-size: x-small;">
                <i>(Changes are not yet saved, and not reflected above)</i>
                <span class="hidden waiting">
                    <span>Processing changes...</span><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </span>
                </span>
                <a class="btn btn-xs jumbo-1" title="Cancel changes" 
                    onclick="ru.basic.related_cancel(this);">Cancel</a>
                <a class="btn btn-xs jumbo-4" title="Save changes" 
                    onclick="ru.basic.related_save(this, '{{related.prefix}}', 'save');">Save</a>
                {% if related.saveasbutton %}
                <a class="btn btn-xs jumbo-4" title="Save changes to a new {{titlesg}}" 
                    onclick="ru.basic.related_save(this, '{{related.prefix}}', 'savenew');">Save as...</a>
                {% endif %}
            </span>
            {% endif %}
        </h5>

        <!-- Check if there is any contents -->
        {% if related.rel_list|length == 0 %}
            <div><i>(the list of {{related.title}} for this {{titlesg}} is empty)</i></div>
        {% else %}
            <!-- Column Wrapping tab -->
            <div id="tab_{{related.prefix}}_colwrap" class="collapse" >
            <span>Show or hide columns: </span>
            {% for col in related.columns %}
                <a role="button" class="btn btn-xs jumbo-1"
                    offset="{{forloop.counter}}"
                    onclick="ru.basic.colwrap(this, true);">{{col|safe}}</a>
            {% endfor %}

            </div>

            <!-- List of related items -->
            <table class="func-view related compact-simple {{related.gridclass}}" 
                    style="width: 100%;">
            <thead>
                <tr>
                {% if related.use_counter %}
                    <th colspan="{% if related.editable %}2{% else %}1{% endif %}" class="tdnowrap">#</th>
                {% endif %}
                {% for col in related.columns %}
                    <th class="tdnowrap" colspan="{% if forloop.first and related.editable and not related.use_counter %}2{% else %}1{% endif %}"
                        scope="{% if forloop.first and related.editable and not related.use_counter %}{% else %}col{% endif %}">
                    {% if col.sortable %}
                        <span class="sortable">
                        <span class="glyphicon glyphicon-sort"></span>
                        </span>
                    {% else %}
                    {% endif %}
                    {{col|safe}}
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for relrow in related.rel_list %}
                {% if relrow.isgroup %}
                    <tr class="form-row savegroup" rowid="{{relrow.id}}"
                        mode="{% if relrow.group_id != '0' %}closed{% else %}open{% endif %}">
                    <!-- Counter-->
                    {% if related.use_counter %}<td>{{forloop.counter}}</td>{% endif %}

                    <!-- columns taken together -->
                    <th colspan="{{related.columns|length}}" align="center" 
                        onclick="ru.basic.related_groupclick(this);"
                        ondragover="ru.basic.related_dragentergroup(event);">{{relrow.name}}
                        <span class="badge jumbo-1 gcount" title="This group contains {{relrow.count}} items">{{relrow.count}}</span>
                    </th>

                    </tr>
                {% else %}

                    <tr class="form-row {% if relrow.group_id > 0 %} hidden{% endif %}" 
                        rowid="{{relrow.id}}" groupid="{{relrow.group_id}}">
                    <!-- Counter-->
                    {% if related.use_counter %}<td>{{forloop.counter}}</td>{% endif %}

                    <!-- Remaining cells -->
                    {% for relcol in relrow.cols %}

                        {% if related.editable and relcol.editable %}
                        {% if relcol.colspan %}
                            <td class="rel-edit-mode hidden" colspan="{{relcol.colspan}}" style="width: 100%;">
                            {{relcol.html}}
                            </td>
                        {% endif %}
                        {% endif %}
                        <td {% if relcol.title %}title="{{relcol.title}}"{% endif %}
                            scope="col"
                            class="{% if relcol.nowrap %}tdnowrap{% endif %} {% if relcol.link %}clickable{% endif %} 
                                    {% if relcol.draggable %}draggable{% endif %} {% if relcol.editable %}rel-view-mode {% endif %}
                                    {% if relcol.myclasses %}{{relcol.myclasses}}{% endif %}"
                            {% if relcol.align %}align="{{relcol.align}}"{% endif %}
                            {% if relcol.draggable %}draggable="true"{% endif %}
                            {% if relcol.draggable %}
                            ondragstart="ru.basic.related_drag(event);" 
                            ondragover="ru.basic.related_dragenter(event);" 
                            {% endif %}
                            style="{% if relcol.main %}width: 100%;{% elif relcol.initial == 'small' %}min-width: 10px; max-width: 10px;{% endif %}"
                            >
                        {% if relcol.value %}
                            {% if relcol.link %}
                            <a href="{{relcol.link}}" class="nostyle">{{relcol.value|safe}}</a>
                            {% else %}
                            {{relcol.value|safe}}
                            {% endif %}
                        {% endif %}
                        </td>

                        {% if forloop.first and related.editable and not related.use_counter %}
                        <td style="min-width: 20px;" valign="top">
                            <span class="rel-edit-open">
                            <a href="#" onclick="ru.basic.rel_row_edit(this, 'open');">
                            <span class="glyphicon glyphicon-pencil"></span></a>
                            </span>
                            <span class="rel-edit-close hidden">
                            <a href="#" onclick="ru.basic.rel_row_edit(this, 'close');">
                            <span class="glyphicon glyphicon-ok"></span></a>
                            </span>
                        </td>

                        {% endif %}
                    {% endfor %}

                    <!-- Possible delete cell -->

                    </tr>
                {% endif %}
                {% endfor %}

                {% if related.editable and is_app_editor %}
                <!-- Provide an empty row that can be added -->
                <tr class="form-row empty-form">
                    <!-- A 1-based counter for the forms in this set-->
                    {% if related.use_counter %}<td style="min-width: 20px;"><span>__counter__</span></td>{% endif %}

                    <!-- A button to edit or save this item -->
                    <td valign="top" class="clickable hightlighted"  style="min-width: 20px;">
                    <div class="view-mode hidden">
                        <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit');" title="Edit this item">
                        <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </div>
                    <div class="edit-mode">
                        <a title="Save changes to this item"
                            onclick="ru.basic.formset_update(this);"
                            targetid="sermongold_eqset"
                            targeturl="">
                        <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                    </td>

                </tr>

                <!-- Add row -->
                <tr class="basic-add-row">
                    <td colspan="5">
                    <span id="add_one_{{related.prefix}}">
                        <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add an item</a>
                    </span>
                    </td>
                </tr>
                {% endif %}

            </tbody>
            </table>
        {% endif %}
        </div>

    </div>

    <div class="hidden related-copy">
        <!-- This is where a hidden copy is stored for a fast 'cancel' feature -->
    </div>
    </div>

{% endfor %}

{% if add_to_details %}
    <div id="add_to_details">{{add_to_details|safe}}</div>
{% endif %}