{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block content %}

      <div class="panel panel-default">
        <form name='authorsearch' id='authorsearch' method='get' action="{% url 'author_search' %}" targeturl="{% url 'author_search' %}" >
            <!-- Be sure to add csrf -->
            {% csrf_token %}
            <div id="downloadcenter" class="hidden">
              <input name='downloadtype' id='downloadtype' class='form-control' value='' >
            </div>

            <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
            <div class="hidden">
                <input name='sortOrder' class='form-control' value='stad' >
                <input name='search_type' class='form-control' value='stad'>
                <input id="submit_type" name='submit_type' class='form-control' value='simple'>
            </div>

            <!-- The top layer of searching: upload and download button(s) -->
            <div class="row">
              <div class="col-sm-1 col-sm-offset-9" align="right">
                {% if is_passim_uploader %}
                <span><a title="upload authors" 
                   class="btn btn-success btn-xs" 
                   targetid="import_main"
                   onclick="ru.passim.seeker.toggle_click(this);">
                  <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                </a></span>
                {% endif %}
              </div>
              <div class="col-sm-2" align="right" style="margin-top: 5px;">
                <a id="downloadmenu" role="button" class="btn jumbo-1 btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
                        onclick="" >
                  Download<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="downloadmenu">
                  <li><a href="#" downloadtype="xlsx" ajaxurl="{% url 'author_results' %}" onclick="ru.passim.post_download(this);">Excel</a></li>
                  <li class="divider" role="separator"></li>
                  <li><a href="#" downloadtype="csv" ajaxurl="{% url 'author_results' %}" onclick="ru.passim.post_download(this);">csv (tab-separated)</a></li>
                  <li><a href="#" downloadtype="json" ajaxurl="{% url 'author_results' %}" onclick="ru.passim.post_download(this);">json</a></li>
                </ul>
              </div>
            </div>

            <!-- The actual search parameters: name -->
            <div id="searchdefault" class="row">
              <div class="col-sm-10">
                <label>&nbsp;</label>
                <div class='input-group input-group-sm'>
                    <span class='input-group-addon ' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           >{{searchform.name.label}}</span>
                    <input name='name' class='form-control typeahead authors input-sm' type="text" 
                           {% if searchform.name.value %}value='{{searchform.name.value}}'{% endif %}
                           placeholder="Name of the author..."
                           onkeyup="ru.passim.form_submit(event);">
                </div>
              </div>
              <div class="col-sm-1">
                <div class='form-group' id='paginate_by'>
                  <label for='paginate_by'>Per page</label>
                  <select class='form-control input-sm' name="paginate_by">
                    {% for pag in paginateValues %}
                    <option {% if pag == paginateSize %} selected {% endif %}>{{pag}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-sm-1 pull-right" align="right">
                <div class="input-group">
                  <div><label>&nbsp;</label></div>
                  <div class='btn-group'>
                      <!-- Submit the search form -->
                      <a role="button" class="btn btn-sm jumbo-3" onclick="$(this).closest('form').submit();">Search</a>
                  </div>
                </div>
              </div>
            </div>

        </form>

      <!-- Allow importing authors from Excel -->
      {% if is_passim_uploader %}
        <div id="import_main" class="row hidden container">
          <form action="{% url 'import_authors' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Room for the filename to appear -->
            <div class="col-md-6 form-group" id="main-import_info"
                 targetid="author_data_import"
                 targeturl="{% url 'import_authors' %}">
              <div class="input-group">
                <span>Specify the CSV file (or the JSON file) that contains the PASSIM authors</span>
                <span class="input-group-btn">
                  <span class="btn btn-default btn-xs btn-file">
                    Browse...
                    <input id="id_file_source" name="file_source" required="" type="file" oninput="ru.passim.seeker.import_data('main');" />
                  </span>
                </span>
              </div>
            
            </div>
            <!-- Progress of upload indicator -->
            <div class="col-md-6">
              <progress class="hidden" style="width:100%;" id="main-import_progress" value="0" min="0" max="100"></progress>
            </div>
            <!-- Any error reporting -->
            <div id="main-import_error"></div>
          </form>

          <!-- Import information -->
          <div id="author_data_import" class="project-part hidden"></div>
        </div>
      {% endif %}


      </div>

    {% if object_list %}
      <div class="panel panel-default">

        <!-- Heading and button to add a new author -->
        <form>
          <h3>
            <span title="These are 'gold standard' authors">Authors</span>
            {% if is_passim_editor %}
              <span id="add_author" class="pull-right">
                {% csrf_token %}
                <a class="btn btn-xs jumbo-3" role="button" 
                    targeturl="{% url 'author_edit' %}"
                    targetid="author_new"
                    onclick="ru.passim.seeker.manu_edit(this, 'new');">
                  <span class="glyphicon glyphicon-plus"></span>Add an author
                </a>
              </span>
            {% endif %}
          </h3>
        </form>

        <!-- Room to add a new author -->
        <div class="row subform">
          <div class="col-md-offset-1 col-md-10">
            <div id="author_new">
              <!-- Room to create a new author instance-->
            </div>
          </div>
        </div>

        <!-- Top pagination -->
        <div class="row">
            <div class="col-sm-4"><span>Found: </span><span>{{entrycount}}</span></div>
            <div class="col-sm-8">
            <span class="step-links pull-right">

            {% include 'pagination.html' %}

            </span>
            </div>
        </div>

        <!-- Table that lists all authors -->
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead><tr><th class="hidden">id</th><th>&nbsp;</th><th>Author name</th><th><!-- Buttons --></th></tr></thead>
              <tbody>
              {% for author in object_list %}
                <tr class="dict-entry">
                  <td class="hidden"> {{ author.id }}</td>
                  <td class="author-abbr tdnowrap" style="min-width: 100px;" >{% if author.abbr %}{{author.abbr}}{% endif %}</td>
                  <td style="width: 100%;" class="ms editable">
                    <span class="author-name clickable" onclick="ru.passim.seeker.goto_url('{% url 'author_details' author.id %}')">{{author.name}}</span>
                    <!-- Provide a standard possibility to do delete confirmation *without* a popup form -->
                    {% if is_passim_editor %}
                      <div class="delete-confirm hidden selected">
                        <form>
                          {% csrf_token %}
                          <span>Are you sure you would like to delete this author?</span>
                          <span>
                            <!-- The button to cancel deletion -->
                            <a title="Cancel deletion" class="btn btn-xs jumbo-1"
                                onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                            <!-- The actual delete button-->
                            <a mode="delete" title="Delete this author" class="btn btn-xs jumbo-3"
                                afterurl="{% url 'author_search' %}"
                                targetid="sermon_edit"
                                targeturl="{% if author.id %}{% url 'author_edit' author.id %}{% endif %}">
                              Delete
                            </a>
                          </span>
                        </form>
                      </div>
                    {% endif %}

                  </td>

                  <!-- Short indications for this author-->
                  <td style="min-width: 80px;" >
                    {% if is_passim_editor %}
                      <!-- Put the delete button completely to the right-->
                      <a mode="skip" class="view-mode btn btn-xs jumbo-1 pull-right"
                         onclick="ru.passim.seeker.delete_confirm(this);">
                        <span class="glyphicon glyphicon-remove" title="Delete this author"></span>
                      </a>
                    {% endif %}
                  </td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <!-- Bottom pagination -->
        <div class="pagination">
            <span class="step-links">

            {% include 'pagination.html' %}

            </span>
        </div>

      {% else %}
        <p>No authors have been found.</p>
      {% endif %}

      </div>

<script>
  ru.passim.seeker.init_events();
</script>

{% endblock content %}

