{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; Search Library
  </div>
{% endblock %}

{% block content %}

      <div class="panel panel-default">
        <form name='librarysearch' id='librarysearch' method='get' action="{% url 'library_search' %}" >
            <!-- Be sure to add csrf -->
            {% csrf_token %}
            <div id="downloadcenter" class="hidden">
              <input name='downloadtype' id='downloadtype' class='form-control' value='' >
            </div>

            <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
            <div class="hidden">
                <input name='sortOrder' class='form-control' value='stad' >
                <input name='search_type' class='form-control' value='stad'>
                <input id="submit_type" name='submit_type' class='form-control' value='simple'>
            </div>

            <!-- The top layer of searching: download button(s) -->
            <div class="row">
              <div class="col-sm-2 pull-right" align="right" style="margin-top: 5px;">
                <a id="downloadmenu" role="button" class="btn jumbo-1 btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
                        onclick="" >
                  Download<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="downloadmenu">
                  <li><a href="#" downloadtype="xlsx" ajaxurl="{% url 'library_results' %}" onclick="ru.passim.post_download(this);">Excel</a></li>
                  <li class="divider" role="separator"></li>
                  <li><a href="#" downloadtype="csv" ajaxurl="{% url 'library_results' %}" onclick="ru.passim.post_download(this);">csv (tab-separated)</a></li>
                  <li><a href="#" downloadtype="json" ajaxurl="{% url 'library_results' %}" onclick="ru.passim.post_download(this);">json</a></li>
                </ul>
              </div>
            </div>

            <!-- The actual search parameters: country, city, library -->
            <div id="searchdefault" class="row">
              <div class="col-sm-3">
                <label>&nbsp;</label>
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_country'>{{searchform.country.label}}</label>
                    <input name='country' class='form-control typeahead countries input-sm' type="text" 
                           {% if searchform.country.value %}value='{{searchform.country.value}}'{% endif %}
                           placeholder="Country..."
                           onkeyup="ru.passim.form_submit(event);">
                </div>
              </div>
              <div class="col-sm-3">
                <label>&nbsp;</label>
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_city'>{{searchform.city.label}}</label>
                    <input name='city' class='form-control typeahead cities input-sm' type="text" 
                           {% if searchform.city.value %}value='{{searchform.city.value}}'{% endif %}
                           placeholder="City..."
                           onkeyup="ru.passim.form_submit(event);">
                </div>
              </div>
              <div class="col-sm-4">
                <label>&nbsp;</label>
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_name'>{{searchform.name.label}}</label>
                    <input name='name' class='form-control typeahead libraries input-sm' type="text" 
                           {% if searchform.name.value %}value='{{searchform.name.value}}'{% endif %}
                           placeholder="Name of library..."
                           onkeyup="ru.passim.form_submit(event);">
                </div>
              </div>
              <div class="col-sm-1">
                <div class='form-group' id='paginate_by'>
                  <label for='paginate_by'>Per page</label>
                  <select class='form-control input-sm' name="paginate_by">
                    {% for pag in paginateValues %}
                    <option {% if pag == paginateSize %} selected {% endif %}>{{pag}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-sm-1 pull-right" align="right">
                <div class="input-group">
                  <div><label>&nbsp;</label></div>
                  <div class='btn-group'>
                      <!-- Submit the search form -->
                      <a role="button" class="btn btn-sm jumbo-3" onclick="$(this).closest('form').submit();">Search</a>
                  </div>
                </div>
              </div>
            </div>

        </form>
      </div>

    {% if object_list %}
      <div class="panel panel-default">

        <h3>Libraries</h3>
        <div class="row">
            <div class="col-sm-4"><span>Found: </span><span>{{entrycount}}</span></div>
            <div class="col-sm-8">
            <span class="step-links pull-right">

            {% include 'pagination.html' %}

            </span>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead><tr><th class="hidden">id</th><th>Country</th><th>City</th><th>Library</th><th>type</th><th><!-- Buttons --></th></tr></thead>
              <tbody>
              {% for library in object_list %}
                <tr class="dict-entry">
                  <td class="hidden"> {{ library.id }}</td>
                  <td>
                    <span class="library-country"><a href="{% url 'library_search' %}?country={{library.country|urlencode}}">{{library.country}}</a></span>
                  </td>
                  <td>
                    <span class="library-city">{{library.city}}</span>
                  </td>
                  <td style="width: 100%;">
                    <span class="library-name">{{library.name}}</span>
                  </td>
                  <td>
                    <span class="library-type">{{library.libtype}}</span>
                  </td>
                  <!-- Buttons for this library-->
                  <td style="min-width: 80px;">
                    <form>
                      {% csrf_token %}
                      <!-- information on this library -->
                      <a role="button" class="btn btn-xs jumbo-3" title="Information" data-toggle="collapse" data-target="#lib-info-{{library.id}}">
                        <span class="glyphicon glyphicon-info-sign"></span>
                      </a>
                      <!-- get a list of manuscripts in this library -->
                      <a role="button"  class="btn btn-xs jumbo-4" title="Manuscripts in this library"
                              data-target="#lib-manuscripts-{{library.id}}"
                              city="{{library.city.idVilleEtab}}"
                              library="{{library.name}}"
                              onclick="ru.passim.lib_manuscripts(this);">
                        <span class="glyphicon glyphicon-download-alt"></span>
                      </a>
                    </form>
                  </td>
                </tr>

                <!-- Information on this library -->
                <tr id="lib-info-{{library.id}}" class="collapse">
                  <td>&nbsp;</td>
                  <td colspan="3">
                    <span>Country code <code>idPaysEtab</code>: {{library.country.idPaysEtab}}</span>
                    <span>City code <code>idVilleEtab</code>: {{library.city.idVilleEtab}}</span>
                    <span>Library code <code>(??)</code>: {{library.idLibrEtab}}</span>
                  </td>
                  <td>&nbsp;</td>
                </tr>

                <!-- Manuscripts in this library -->
                <tr id="lib-manuscripts-{{library.id}}" class="lib-manuscripts hidden">
                  <td>&nbsp;</td>
                  <td colspan="3" class="manuscripts-target">
                  </td>
                  <td>&nbsp;</td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% else %}
        <p>No libraries have beenfound.</p>
      {% endif %}

      <div class="pagination">
          <span class="step-links">

          {% include 'pagination.html' %}

          </span>
      </div>

      </div>

{% endblock content %}

