{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block content %}

      <!-- Library search area -->
      <div class="panel panel-default container-small"">
        <form id='librarysearch' method='get' targeturl="{% url 'library_search' %}" >
            <!-- Be sure to add csrf -->
            {% csrf_token %}
            <div id="downloadcenter" class="hidden">
              <input name='downloadtype' id='downloadtype' class='form-control' value='' >
            </div>

            <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
            <div class="hidden">
                <input name='sortOrder' class='form-control' value='stad' >
                <input name='search_type' class='form-control' value='stad'>
                <input id="submit_type" name='submit_type' class='form-control' value='simple'>
            </div>

            <!-- The top layer of searching: download button(s) -->
            <div class="row">
              <div class="col-sm-2 pull-right" align="right" style="margin-top: 5px;">
                <a id="downloadmenu" role="button" class="btn jumbo-1 btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
                        onclick="" >
                  Download<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="downloadmenu">
                  <li><a href="#" downloadtype="xlsx" ajaxurl="{% url 'library_results' %}" onclick="ru.passim.post_download(this);">Excel</a></li>
                  <li class="divider" role="separator"></li>
                  <li><a href="#" downloadtype="csv" ajaxurl="{% url 'library_results' %}" onclick="ru.passim.post_download(this);">csv (tab-separated)</a></li>
                  <li><a href="#" downloadtype="json" ajaxurl="{% url 'library_results' %}" onclick="ru.passim.post_download(this);">json</a></li>
                </ul>
              </div>
            </div>

            <!-- The actual search parameters: country, city, library -->
            <div id="searchdefault" class="row manuscript-details">
              <div class="col-sm-3">
                <label>&nbsp;</label>
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_country'>{{searchform.country.label}}</label>
                    <input id="id_country" name='country' class='form-control typeahead searching countries input-sm' type="text" 
                           {% if searchform.country.value %}value='{{searchform.country.value}}'{% endif %}
                           placeholder="Country..."
                           onkeyup="ru.passim.form_submit(event);">
                </div>
              </div>
              <div class="col-sm-3">
                <label>&nbsp;</label>
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_city'>{{searchform.city.label}}</label>
                    <input id="id_city" name='city' class='form-control typeahead searching cities input-sm' type="text" 
                           {% if searchform.city.value %}value='{{searchform.city.value}}'{% endif %}
                           placeholder="City..."
                           onkeyup="ru.passim.form_submit(event);">
                </div>
              </div>
              <div class="col-sm-4">
                <label>&nbsp;</label>
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_name'>{{searchform.name.label}}</label>
                    <input id="id_name" name='name' class='form-control typeahead searching libraries input-sm' type="text" 
                           {% if searchform.name.value %}value='{{searchform.name.value}}'{% endif %}
                           placeholder="Name of library..."
                           onkeyup="ru.passim.form_submit(event);">
                </div>
              </div>
              <div class="col-sm-1">
                <div class='form-group' id='paginate_by'>
                  <label for='paginate_by'>Per page</label>
                  <select class='form-control input-sm' name="paginate_by">
                    {% for pag in paginateValues %}
                    <option {% if pag == paginateSize %} selected {% endif %}>{{pag}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-sm-1 pull-right" align="right">
                <div class="input-group">
                  <div><label>&nbsp;</label></div>
                  <div class='btn-group'>
                      <!-- Reset the search buttons -->
                      <a role="button" class="btn btn-sm jumbo-1" title="reset" onclick="ru.passim.seeker.search_reset(this);"><span class="glyphicon glyphicon-remove"></span></a>
                      <!-- Submit the search form -->
                      <a role="button" class="btn btn-sm jumbo-3" title="search" onclick="ru.passim.seeker.search_start(this);"><span class="glyphicon glyphicon-search"></span></a>
                  </div>
                </div>
              </div>
            </div>

        </form>
      </div>

      <div class="panel panel-default">

      <!-- Heading and button to add a new origin -->
      <form>
        <h3>
          <span title="Currently defined libraries">Libraries</span>
          {% if is_app_editor %}
            <span id="add_library" class="pull-right">
              {% csrf_token %}
              <a class="btn btn-xs jumbo-3" role="button" 
                  targeturl="{% url 'library_edit' %}"
                  targetid="library_new"
                  onclick="ru.passim.seeker.manu_edit(this, 'new');">
                <span class="glyphicon glyphicon-plus"></span>Add a library
              </a>
            </span>
          {% endif %}
        </h3>
      </form>

      <!-- Room to add a new library -->
      <div class="row subform">
        <div class="col-md-offset-1 col-md-10">
          <div id="library_new">
            <!-- Room to create a new library instance-->
          </div>
        </div>
      </div>

      {% if object_list %}
        <!-- Intro with starting pagination-->
        <div class="row">
            <div class="col-sm-3"><span>Found: </span><span>{{entrycount}}</span></div>
            <div class="col-sm-1"><span id="waitingsign" class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span></div>
            <div class="col-sm-8">
            <span class="step-links pull-right">

            {% include 'pagination.html' %}

            </span>
            </div>
        </div>

        <!-- List of libraries (found) -->
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead><tr><th class="hidden">id</th><th>Country</th><th>City</th><th>Library</th><th title="CNRS library ID (if known)">CNRS</th><th>Manuscripts</th><th>type</th><th><!-- Buttons --></th></tr></thead>
              <tbody>
              {% for library in object_list %}
                <tr class="dict-entry">
                  <td class="hidden"> {{ library.id }}</td>
                  <td>
                    <span class="library-country"><a href="{% url 'library_search' %}?country={{library.country|urlencode}}">{{library.country}}</a></span>
                  </td>
                  <td class="tdnowrap">
                    <span class="library-city">{{library.city}}</span>
                  </td>
                  <td style="width: 100%;" class="clickable" >
                    <a href="{% url 'library_details' library.id %}" class="nostyle">
                      <span class="library-name">{{library.name}}</span>
                    </a>
                  </td>
                  <td>
                    <span class="library-CNRS">{% if library.idLibrEtab < 0 %}<i>None</i>{% else %}{{library.idLibrEtab}}{% endif %}</span>
                  </td>
                  <td align="right">
                    <span class="library-manuscripts" >
                      {% if library.num_manuscripts %}
                        <span>{{library.num_manuscripts}}</span>
                        <!-- Link to these manuscripts -->
                        <a role="button" class="btn btn-xs jumbo-3" title="Go to these manuscripts" 
                           href="{% url 'search_manuscript' %}?library={{library.id}}">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                      {% else %}-{% endif %}
                    </span>
                  </td>
                  <td>
                    <span class="library-type">{{library.libtype}}</span>
                  </td>
                  <!-- Buttons for this library-->
                  <td style="min-width: 80px;">
                    <form>
                      {% csrf_token %}
                      <!-- information on this library -->
                      <a role="button" class="btn btn-xs jumbo-3" title="Information" data-toggle="collapse" data-target="#lib-info-{{library.id}}">
                        <span class="glyphicon glyphicon-info-sign"></span>
                      </a>
                      <!-- get a list of manuscripts in this library -->
                      <a role="button"  class="btn btn-xs jumbo-4" title="Manuscripts in this library"
                              data-target="#lib-manuscripts-{{library.id}}"
                              city="{{library.lcity.get_idVilleEtab}}"
                              library="{{library.name}}"
                              onclick="ru.passim.lib_manuscripts(this);">
                        <span class="glyphicon glyphicon-download-alt"></span>
                      </a>
                    </form>
                  </td>
                </tr>

                <!-- Information on this library -->
                <tr id="lib-info-{{library.id}}" class="collapse">
                  <td>&nbsp;</td>
                  <td colspan="3">
                    <div>
                      <span>Library<span class="badge jumbo-1" title="idLibrEtab">{{library.idLibrEtab}}</span></span>
                      <span>City 
                        <span class="badge jumbo-2"
                              title="{% for identifier in library.get_city.location_identifiers.all %}{{identifier.idname}}={{identifier.idvalue}}{% endfor %}">
                          {{library.get_city.name}}
                        </span>
                      </span>
                      <span>Country 
                        <span class="badge jumbo-3"
                              title="{% for identifier in library.get_country.location_identifiers.all %}{{identifier.idname}}={{identifier.idvalue}}{% endfor %}">
                          {{library.get_country.name}}
                        </span>
                      </span>
                    </div>
                  </td>
                  <td>&nbsp;</td>
                </tr>

                <!-- Manuscripts in this library -->
                <tr id="lib-manuscripts-{{library.id}}" class="lib-manuscripts hidden">
                  <td>&nbsp;</td>
                  <td colspan="3" class="manuscripts-target">
                  </td>
                  <td>&nbsp;</td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <!-- Closing pagination -->
        <div class="pagination">
            <span class="step-links">

            {% include 'pagination.html' %}

            </span>
        </div>

      {% else %}
        <p>No libraries have been found.</p>
      {% endif %}

    </div>

{% endblock content %}

