{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
  {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block content %}

    {% if object_list %}
      <div class="panel panel-default">

        <h3>Literature references</h3>
        <div class="row">
            <div class="col-sm-3"><span>Found: </span><span>{{entrycount}}</span></div>
            <div class="col-sm-1"><span id="waitingsign" class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span></div>
            <div class="col-sm-8">
            <span class="step-links pull-right">

            {% include 'pagination.html' %}

            </span>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead><tr><th class="hidden">id</th><th>Short reference</th><th>Full reference</th><th><!-- Buttons --></th></tr></thead>
              <tbody>
              
               {% for litref in object_list %}  
                
                <tr class="dict-entry">
                  <td><span class="short reference tdnowrap"><a name="{{litref.pk}}"></a>{{litref.get_short_markdown|safe}}</span></td>
                  <td><span class="full reference">{{litref.get_full_markdown|safe}}</span></td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% else %}
        <p>No information on sources has been found.</p>
      {% endif %}

      <div class="pagination">
          <span class="step-links">

          {% include 'pagination.html' %}

          </span>
      </div>

      </div>

{% endblock content %}

