{% load i18n %}

<!-- Manuscript information -->
<form>
  {% csrf_token %}

  <h3>
    {% if manuForm.instance.id  %}
      <span>Manuscript</span>
      <span class="pull-right" style="font-size: xx-small;">
          {{manuForm.city_ta.value}}, {{manuForm.instance.library.name}}, {{manuForm.idno.value}}
      </span>
    {% else %}
      <span class="pull-right" style="font-size: xx-small;">
          <i>(New Manuscript)</i>
      </span>
    {% endif %}
  </h3>

  <!-- Little error message room -->
  <div id="little_err_msg" class="err-msg"></div>


  <table style="width: 90%;" class="manuscript-details">
    <tbody>
      <!-- Row to indicate editing, if possible -->
      {% if is_passim_editor %}
        <tr>
          <td>&nbsp;</td>
          <td class="ms editable table">
            <a mode="edit" class="view-mode btn btn-xs jumbo-1">
              <span class="glyphicon glyphicon-pencil" title="Edit these data"></span>
            </a>
            <a mode="cancel" class="edit-mode btn btn-xs jumbo-2 hidden">
              <span class="glyphicon glyphicon-arrow-left" title="Cancel (do *NOT* save)"></span>
            </a>
            <a mode="save" class="edit-mode btn btn-xs jumbo-1 hidden" 
               targeturl="{% if manuForm.instance.id %}{% url 'manuscript_edit' manuForm.instance.id %}{% else %}{% url 'manuscript_edit' %}{% endif %}"
               targetid="" oldtargetid="manuscript_info" >
              <span class="glyphicon glyphicon-ok" title="Save these data">&nbsp;Save</span>
            </a>

            <!-- Waiting symbol-->
            <span class="waiting glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>

            <!-- Delete button completely to the right -->
            <a mode="delete" class="edit-mode btn btn-xs jumbo-3 hidden pull-right" 
               targetid="" oldtargetid="manuscript_info"
               targeturl="{% if manuForm.instance.id %}{% url 'manuscript_edit' manuForm.instance.id %}{% endif %}" >
              <span class="glyphicon glyphicon-remove" title="Delete this manuscript"></span>
            </a>
          </td>
        </tr>
      {% endif %}

      <tr class="form-row edit-notnew">
        <td valign="top"><b>Status</b></td>
        <td class="manuscript-status" align="left">
          <div class="view-mode">{{manuForm.instance.get_stype_display}}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{manuForm.stype}}</div>
          {% endif %}
        </td>
      </tr>
      <tr class="form-row">
        <td valign="top" style="width: 100px;"><b>Country</b></td>
        <td class="manuscript-country" align="left">
          <div class="view-mode">{% if manuForm.country_ta and manuForm.country_ta.value %}{{manuForm.country_ta.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="country-key hidden">{{manuForm.country}}</div>
            <div class="edit-mode hidden">{{manuForm.country_ta}}</div>
          {% endif %}
        </td>
      </tr>
      <tr class="form-row">
        <td valign="top"><b>City</b></td>
        <td class="manuscript-city" align="left">
          <div class="view-mode">{% if manuForm.city_ta and manuForm.city_ta.value %}{{manuForm.city_ta.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="city-key hidden">{{manuForm.city}}</div>
            <div class="edit-mode hidden">{{manuForm.city_ta}}</div>
          {% endif %}
        </td>
      </tr>

      <tr class="form-row">
        <td valign="top"><b>Library</b></td>
        <td class="manuscript-library" align="left">
          <div class="view-mode">{% if manuForm.libname_ta and manuForm.libname_ta.value %}{{manuForm.libname_ta.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="library-key hidden">{{manuForm.library}}</div>
            <div class="edit-mode hidden">{{manuForm.libname_ta}}</div>
          {% endif %}
        </td>
      </tr>

      <tr class="form-row">
        <td valign="top"><b>Identifier</b></td>
        <td class="manuscript-name" align="left">
          <div class="view-mode">{% if manuForm.idno.value %}{{manuForm.idno.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}<div class="edit-mode hidden">{{manuForm.idno}}</div>{% endif %}
        </td>
      </tr>

      <tr class="form-row">
        <td valign="top"><b>Title</b></td>
        <td class="manuscript-name" align="left">
          <div class="view-mode">{{manuForm.name.value}}</div>
          {% if is_passim_editor %}<div class="edit-mode hidden">{{manuForm.name}}</div>{% endif %}
        </td>
      </tr>
      <tr class="form-row">
        <td valign="top"><b>Origin</b></td>
        <td class="manuscript-support" align="left">
          <div class="view-mode">
            {% if manuForm.instance.origin %}
              {{manuForm.instance.origin.name}}{% if manuForm.instance.origin.location %}: {{manuForm.instance.origin.location.get_loc_name}}{% endif %}
            {% else %}-{% endif %}
          </div>
          {% if is_passim_editor %}
            <div class="origin-key hidden">{{manuForm.origin}}</div>
            <div class="edit-mode hidden">{{manuForm.origname_ta}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Dates for this manuscript -->
      <tr class="form-row">
        <td valign="top"><b>Date</b></td>
        <td class="manuscript-date" align="left">
          <div class="view-mode">{{manuForm.yearstart.value}} - {{manuForm.yearfinish.value}}</div>
          {% if is_passim_editor %}<div class="edit-mode hidden">{{manuForm.yearstart}} - {{manuForm.yearfinish}}</div>{% endif %}
        </td>
      </tr>

      <!-- Physical appearance -->
      <tr class="form-row">
        <td valign="top"><b>Support</b></td>
        <td class="manuscript-support" align="left">
          <div class="view-mode">{% if manuForm.instance.support %}{{manuForm.support.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}<div class="edit-mode hidden">{{manuForm.support}}</div>{% endif %}
        </td>
      </tr>
      <tr class="form-row">
        <td valign="top"><b>Extent</b></td>
        <td class="manuscript-extent" align="left">
          <div class="view-mode">{% if manuForm.instance.extent %}{{manuForm.extent.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}<div class="edit-mode hidden">{{manuForm.extent}}</div>{% endif %}
        </td>
      </tr>
      <tr class="form-row">
        <td valign="top"><b>Format</b></td>
        <td class="manuscript-format" align="left">
          <div class="view-mode">{% if manuForm.instance.format %}{{manuForm.format.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}<div class="edit-mode hidden">{{manuForm.format}}</div>{% endif %}
        </td>
      </tr>


      <!-- The remainder is only visible by passim editors, and only in EDIT mode, and only as visualisation... -->
      {% if is_passim_editor %}
        <tr class="edit-mode hidden">
          <td valign="top"><b>Information:</b></td>
          <td>
            <div>
              <a class="btn btn-xs jumbo-1" data-toggle="collapse" data-target="#source_info" role="button" title="Show source information...">
                <span class="glyphicon glyphicon-search"></span>&nbsp;Source Collection
              </a>
            </div>
            <div id="source_info" class="collapse inert">
              {% if manuForm.instance.source %}
                Collected by {{ manuForm.instance.source.collector}} on {{manuForm.instance.source.created}} (<a href="{{manuForm.instance.source.url}}">url</a>).
                Code: <span class="kw">{{manuForm.instance.source.code}}</span>
              {% else %}
                <i>(No source information)</i>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</form>
