{% extends "layout.html" %}
{% load i18n %}

{% block scripts %}
  {{manuForm.media.css}}
{% endblock %}

{% block breadcrumbs %}
  {% include 'breadcrumb_list.html' %}
{% endblock %}

{% block content %}

  <div>

    {% if authenticated %}
      <!-- Upper part of the search-a-manuscript interface -->

      <div id="manuscript_top" >

        <!-- Allow access to interface parts that are normally hidden -->
        <div  class="panel panel-none">

          <div class="row">
            <div class="col-md-2 col-md-offset-10 text-right">
              <span class="">
                <!-- Filtering -->
                <a class="btn btn-xs jumbo-4" data-toggle="collapse" data-target="#tab_filter" role="button" title="Define your filter(s)...">
                  <span class="glyphicon glyphicon-filter"></span>
                </a>

                <!-- Allow uploading e-codex XML files -->
                {% if is_passim_uploader %}
                  <a class="btn btn-xs jumbo-1" data-toggle="collapse" data-target="#tab_upload_ecodex" 
                     role="button" title="Upload e-codices XML files"
                     onclick="ru.passim.seeker.hide('tab_list');">
                    <span class="glyphicon glyphicon-upload"></span>
                  </a>
                {% endif %}

                <!-- Search results from e-codex -->
                {% if is_passim_editor %}
                  <a class="btn btn-xs jumbo-1" data-toggle="collapse" data-target="#tab_search_ecodex" 
                     role="button" title="Convert e-codices search results into a list"
                     onclick="ru.passim.seeker.hide('tab_list');">
                    <span class="glyphicon glyphicon-music"></span>
                  </a>
                {% endif %}

                <!-- Allow uploading EAD XML files -->
                {% if is_passim_uploader %}
                  <a class="btn btn-xs jumbo-2" data-toggle="collapse" data-target="#tab_upload_ead" 
                     role="button" title="Upload 'archive et manuscript' XML files"
                     onclick="ru.passim.seeker.hide('tab_list');">
                    <span class="glyphicon glyphicon-upload"></span>
                  </a>
                {% endif %}
              </span>
            </div>
          </div>
        </div>

        {% if is_passim_uploader %}
        <!-- Upload tab for e-codices -->
        <div class="inert collapse" id="tab_upload_ecodex">
          <div id="import_main" class="row container">
            <form action="{% url 'import_ecodex' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Room for the filename to appear -->
              <div class="col-md-6 form-group" id="main-import_info"
                    sync-progress="{% url 'sync_progress' %}?synctype=ecodex"
                    targetid="manuscript_data_import"
                    targeturl="{% url 'import_ecodex' %}">
                <div class="input-group">
                  <span>Specify the e-codex XML file with the manuscript data</span>
                  <span class="input-group-btn">
                    <span class="btn btn-default btn-xs btn-file">
                      Browse...
                      <input id="id_files_field" name="files_field" required="" multiple="" type="file" oninput="ru.passim.seeker.import_data('main');" />
                    </span>
                  </span>
                </div>
            
              </div>
              <!-- Progress of upload indicator -->
              <div class="col-md-6">
                <progress class="hidden" style="width:100%;" id="main-import_progress" value="0" min="0" max="100"></progress>
              </div>
              <!-- Any error reporting -->
              <div id="main-import_error"></div>
            </form>

          </div>
          <!-- Import information -->
          <div class="row container">
            <div id="manuscript_data_import" class="project-part hidden col-md-12">
              <!-- will be filled with progress information on reading manuscript(s) -->
            </div>
          </div>


        </div>
        {% endif %}


        {% if is_passim_editor %}
        <!-- Possibility to get a list of e-codices -->
        <div class="inert collapse" id="tab_search_ecodex">
          <form>
            {% csrf_token %}
            <div class="row">
              <div class="col-md-2"><b>E-codices URL:</b></div>
              <div class="col-md-9">{{searchurlform.search_url}}</div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
              <div class="col-md-12">
                <a class="btn jumbo-1" title="Extract a list of files from this search result"
                    onclick="ru.passim.seeker.formset_update(this, 'wait');"
                    targetid="ecodices_results"
                    targeturl="{% url 'search_ecodex' %}">
                  <span class="glyphicon glyphicon-ok"></span>
                  Extract a list of e-Codices texts
                </a>
              </div>
            </div>
            <div class="row">&nbsp;</div>

            <!-- Room to show the list we found-->
            <div class="row" id="ecodices_results">
              <!-- This is where the results come -->
            </div>
          </form>
        </div>
        {% endif %}

        {% if is_passim_uploader %}
        <!-- Upload tab for EAD -->
        <div class="inert collapse" id="tab_upload_ead">
          <div id="import_ead" class="row container">
            <form action="{% url 'import_ead' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- Room for the filename to appear -->
              <div class="col-md-6 form-group" id="ead-import_info"
                    sync-progress="{% url 'sync_progress' %}?synctype=ead"
                    targetid="ead_data_import"
                    targeturl="{% url 'import_ead' %}">
                <div class="input-group">
                  <span>Specify the EAD (archive a manuscript) XML file(s) with the manuscript data</span>
                  <span class="input-group-btn">
                    <span class="btn btn-default btn-xs btn-file">
                      Browse...
                      <input id="id_files_field" name="files_field" required="" multiple="" type="file" oninput="ru.passim.seeker.import_data('ead');" />
                    </span>
                  </span>
                </div>
            
              </div>
              <!-- Progress of upload indicator -->
              <div class="col-md-6">
                <progress class="hidden" style="width:100%;" id="ead-import_progress" value="0" min="0" max="100"></progress>
              </div>
              <!-- Any error reporting -->
              <div id="ead-import_error"></div>
            </form>

            <!-- Import information -->
            <div id="ead_data_import" class="project-part hidden"></div>

          </div>

        </div>
        {% endif %}

        <!-- The form spans the list + pagination information -->
        <form id="manuscriptsearch" method='post' action="{% url 'search_manuscript' %}" >
          {% csrf_token %}

          <!-- entrypoint for search_paged_start -->
          <div class="hidden search_paged_start">
            <input name="page" type="text" />
          </div>

          <!-- entrypoint for search_ordered_start -->
          <div class="hidden search_ordered_start">
            <input name="o" type="text" value="{{sortOrder}}" />
          </div>

          <!-- Filter tab -->
          <div class="inert {% if has_filter %}in{% else %}collapse{% endif %}" id="tab_filter">
            <div class="panel panel-default">
              <!-- Filter interface -->
              <div class="row" id="filter_badges">
                <div class="col-md-2">
                  <h4>Selected filters</h4>
                </div>
                <div class="col-md-10">
                  <!-- Main filters -->
                  <div>
                    <h4>
                    {% for filter in filters %}
                      {% if not filter.head_id %}
                        <span class="badge filter {% if filter.enabled %} jumbo-3 on {% else %} jumbo-1 {% endif %} " targetid="{{filter.id}}" >{{filter.name}}</span>
                      {% endif %}
                    {% endfor %}
                    </h4>
                  </div>
                </div>
              </div>
              
              <div class="row" id="manuscript_filter_specs">
                <!-- The column with the different filter sections -->
                <div class="col-md-10">
                  <div class="panel panel-default ">

                    <!-- Intro -->
                    <div><h5>Manuscript filters: </h5></div>

                    <!-- One or more manuids -->
                    <div id="filter_manuid" class="{% if not manuForm.idno.value and  not manuForm.manuidlist.value %}hidden{% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row">
                          <td style="min-width: 130px;" valign="top">Shelfmark</td>
                          <td style="width: 100%;">
                            <span>{{manuForm.idno}}</span>
                            <span> or select: </span>
                            <span>{{manuForm.manuidlist}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <!-- One particular country -->
                    <div id="filter_country" class="{% if not manuForm.country.value and not manuForm.country_ta.value %}hidden{% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row">
                          <td style="min-width: 130px;" valign="top">Country:</td>
                          <td style="width: 100%;">
                            <div class="country-key hidden">{{manuForm.country}}</div>
                            <div>{{manuForm.country_ta}}</div>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <!-- One particular city -->
                    <div id="filter_city" class="{% if not manuForm.city.value and not manuForm.city_ta.value %}hidden{% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row">
                          <td style="min-width: 130px;" valign="top">City:</td>
                          <td style="width: 100%;">
                            <div class="city-key hidden">{{manuForm.city}}</div>
                            <div>{{manuForm.city_ta}}</div>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <!-- One particular library -->
                    <div id="filter_library" class="{% if not manuForm.library.value and not manuForm.libname_ta.value %}hidden{% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row">
                          <td style="min-width: 130px;" valign="top">Library:</td>
                          <td style="width: 100%;">
                            <div class="library-key hidden">{{manuForm.library}}</div>
                            <div>{{manuForm.libname_ta}}</div>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <!-- One particular origin -->
                    <div id="filter_origin" class="{% if not manuForm.origin.value and not manuForm.origin_ta.value %}hidden{% endif %}" >
                      <table style="width: 100%;">
                        <tr class="form-row">
                          <td style="min-width: 130px;" valign="top">Origin:</td>
                          <td style="width: 100%;">
                            <div class="origin-key hidden">{{manuForm.origin}}</div>
                            <div>{{manuForm.origin_ta}}</div>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <!-- One particular provenance -->
                    <div id="filter_provenance" class="{% if not manuForm.prov.value and not manuForm.prov_ta.value %}hidden{% endif %}" >
                      <table style="width: 100%;">
                        <tr class="form-row">
                          <td style="min-width: 130px;" valign="top">Provenance:</td>
                          <td style="width: 100%;">
                            <div class="location-key hidden">{{manuForm.prov}}</div>
                            <div>{{manuForm.prov_ta}}</div>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <!-- The date range -->
                    <div id="filter_daterange" class="{% if not manuForm.date_from.value and not manuForm.date_until.value %} hidden {% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row">
                          <td style="min-width: 130px;" valign="top">Date range:</td>
                          <td style="width: 100%;">
                            <span>from:</span>
                            <span >{{manuForm.date_from}}</span>
                            <span>until:</span>
                            <span >{{manuForm.date_until}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>


                  </div>
                </div>

              </div>

              <!-- Row with buttons and stuff for sermon -->
              <div id="filter_sermon" class="row {% if not filter_sermon %}hidden{% endif %}"
                   targetid="sermon_filter_specs">

                  <!-- Sub filters for Sermon -->
                  <div class="col-md-10 col-sm-offset-2">

                    <!-- Sub filters from Sermon -->
                    <div>
                      {% for filter in filters %}
                        {% if filter.head_id == "filter_sermon" %}
                          <span class="badge filter {% if filter.enabled %} jumbo-2 on {% else %} jumbo-1 {% endif %} " targetid="{{filter.id}}" >{{filter.name}}</span>
                        {% endif %}
                      {% endfor %}
                    </div>

                  </div>

              </div>

              <div class="row" id="sermon_filter_specs">
                <div class="col-md-10">
                  <div class="panel panel-default ">
                    <!-- Introduction to these filters -->
                    <div><h5>Sermon filters: </h5></div>

                    <!-- One or more signatures -->
                    <div id="filter_signature" class="{% if not manuForm.signature.value and not manuForm.siglist.value %}hidden{% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row">
                          <td style="min-width: 130px;" valign="top">Gryson or Clavis:</td>
                          <td style="width: 100%;">
                            <span style="min-width: 100px;">{{manuForm.signature}}</span>
                            <span> or select: </span>
                            <span>{{manuForm.siglist}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>


                  </div>
                </div>
              </div>

              <!-- Row with buttons -->
              <div class="row">
                <div class="col-md-2 col-md-offset-10 text-right">
                  <!-- Room to reset the search criteria -->
                  <span>
                    <a role="button" class="btn btn-sm jumbo-1" title="Clear search criteria" onclick="ru.passim.seeker.search_clear(this);" >Clear</a>
                  </span>
                  <!-- Submit the search form -->
                  <span>
                    <a role="button" class="btn btn-sm jumbo-3" title="Start searching..." onclick="ru.passim.seeker.search_start(this);">Search</a>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </form>

        <!-- List tab -->
        <div class="" id="tab_list">
          <div class="panel panel-default">

            <h3>
              <span>Manuscripts</span>
              {% if is_passim_editor %}
                <span id="add_keyword" class="pull-right">
                    {% csrf_token %}
                    <a class="btn btn-xs jumbo-3" role="button" 
                        onclick="document.getElementById('create_new_manu').submit();" >
                      <span class="glyphicon glyphicon-plus"></span>Add a manuscript manually
                    </a>
                </span>
              {% endif %}
            </h3>

            <!-- Room to have the form-link to create a new keyword -->
            <div class="hidden" >
              <form action="{% url 'manuscript_details' %}" method="post" id="create_new_manu">
                {% csrf_token %}
              </form>
            </div>

            {% if object_list %}
              <!-- Top Pagination -->
              <div class="row">
                  <div class="col-sm-4"><span>Total: </span><span>{{entrycount}}</span></div>
                  <div class="col-sm-8">
                  <span class="step-links pull-right">

                  {% include 'paginationpost.html' %}

                  </span>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="hidden">id</th>
                        {% for hd in order_heads %}
                          <th class="sortable" scope="col">
                            <div class="text">
                              {% if hd.order == "" %}{{hd.name}}
                              {% else %}
                              <a class="clickable {% if hd.used %}ordered{% endif %}" onclick="ru.passim.seeker.search_ordered_start('{{hd.order}}');">{{hd.name}}</a>
                              {% endif %}
                            </div>
                          </th>
                        {% endfor %}
                        <th><!-- Buttons --></th>
                      </tr>                    
                    </thead>
                    <tbody>
                    {% for man in object_list %}
                      <tr class="dict-entry">
                        <td class="hidden"> {{ man.id }}</td>

                        <!-- City -->
                        <td class="manuscript-city" align="left" title="{{man.library.lcity.name}}">{{man.library.lcity.name|truncatechars:12}}</td>

                        <!-- Library name -->
                        <td class="manuscript-library" align="left" title="{{man.library.name}}">{{man.library.name|truncatechars:12}}</td>

                        <!-- Manuscript IDNO and possible name (truncated) -->
                        <td style="width: 100%;" class="clickable" >
                          <a href="{% url 'manuscript_details' man.id %}" class="nostyle">
                            <span class="manuscript-idno">{{man.idno}}</span>
                            {% if man.name %}
                            <span class="manuscript-title" title="{{man.name}}">| {{man.name|truncatechars:100}}</span>
                            {% endif %}
                          </a>
                        </td>

                        <!-- Number of sermons -->
                        <td class="manuscript-date" align="right">{{man.manusermons.count}}</td>

                        <!-- Dates for this manuscript -->
                        <td class="manuscript-date" align="right">
                          {% for item in man.manuscript_dateranges.all %}<div>{{item.yearstart}}</div>{% endfor %}
                        </td>
                        <td class="manuscript-date" align="right">
                          {% for item in man.manuscript_dateranges.all %}<div>{{item.yearfinish}}</div>{% endfor %}
                        </td>
                        
                        <!-- Show the status of this item -->
                        <td class="tdnowrap"><span class="badge" title="{{man.get_stype_display}}">{{man.stype|slice:":1"}}</span></td>

                        <!-- Buttons for more information on this manuscript -->
                        <td style="min-width: 40px;">
                          <!-- external link button -->
                          {% if man.url %}
                            <a role="button" class="btn btn-xs jumbo-1" title="External link"
                                href="{{man.url}}"  >
                              <span class="glyphicon glyphicon-link"></span>
                            </a>
                          {% endif %}
                        </td>
                      </tr>

                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- Bottom pagination -->
              <div class="pagination">
                  <span class="step-links">

                  {% include 'paginationpost.html' %}

                  </span>
              </div>

            {% else %}
              <p>No manuscripts have been found.</p>
            {% endif %}

          </div>

        </div>

      </div>

    
    {% else %}
      <div class="explanation">
        <p>Dear user, you are <b>not</b> logged in.</p>
        <p>Unfortunately this means that you will not be able to perform any searches.</p>
        <p>Should you want to work with Passim, here are your options:
          <ul>
            <li><a class="btn btn-info btn-xs" href="{% url 'login' %}">Login</a> - if you already have an account</li> 
            <li><a class="btn btn-warning btn-xs" href="{% url 'signup' %}">Sign up</a> - if you don't have an account yet</li>
          </ul>
        </p>
      </div>
    {% endif %}
    
  </div>

<script>
  ru.passim.seeker.init_events("{% url 'search_manuscript' %}");
</script>

{% endblock content %}

{% block endcontent %} 
  {{manuForm.media.js }} 
{% endblock %}
