{% load i18n %}

<!-- Manuscript information -->
<form>
  {% csrf_token %}

  {{ mdr_formset.management_form }}

  <h3>
    {% if manuForm.instance.id  %}
      <span>Manuscript</span>
      <span class="pull-right" style="font-size: xx-small;">
          {{manuForm.city_ta.value}}, {{manuForm.instance.library.name}}, {{manuForm.idno.value}}
      </span>
    {% else %}
      <span class="pull-right" style="font-size: xx-small;">
          <i>(New Manuscript)</i>
      </span>
    {% endif %}
  </h3>

  <!-- Little error message room -->
  <div id="little_err_msg" class="err-msg"></div>


  <table style="width: 90%;" class="manuscript-details">
    <tbody>
      <!-- Row to indicate editing, if possible -->
      {% if is_passim_editor %}
        <tr>
          <td>&nbsp;</td>
          <td class="ms editable table">
            <a mode="edit" class="view-mode btn btn-xs jumbo-1">
              <span class="glyphicon glyphicon-pencil" title="Edit these data"></span>
            </a>
            <a mode="cancel" class="edit-mode btn btn-xs jumbo-2 hidden">
              <span class="glyphicon glyphicon-arrow-left" title="Cancel (do *NOT* save)"></span>
            </a>
            <a mode="save" class="edit-mode btn btn-xs jumbo-1 hidden" 
               targeturl="{% if manuForm.instance.id %}{% url 'manuscript_edit' manuForm.instance.id %}{% else %}{% url 'manuscript_edit' %}{% endif %}"
               targetid="" oldtargetid="manuscript_info" >
              <span class="glyphicon glyphicon-ok" title="Save these data">&nbsp;Save</span>
            </a>

            <!-- Waiting symbol-->
            <span class="waiting glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>

            <!-- Delete button completely to the right -->
            <a mode="delete" class="edit-mode btn btn-xs jumbo-3 hidden pull-right" 
               targetid="" oldtargetid="manuscript_info"
               targeturl="{% if manuForm.instance.id %}{% url 'manuscript_edit' manuForm.instance.id %}{% endif %}" >
              <span class="glyphicon glyphicon-remove" title="Delete this manuscript"></span>
            </a>
          </td>
        </tr>
      {% endif %}

      <!-- Status -->
      <tr class="form-row edit-notnew">
        <td valign="top"><b>Status</b></td>
        <td class="manuscript-status" align="left">
          <div class="view-mode">{{manuForm.instance.get_stype_display}}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{manuForm.stype}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Country -->
      <tr class="form-row">
        <td valign="top" style="width: 100px;"><b>Country</b></td>
        <td class="manuscript-country" align="left">
          <div class="view-mode">{% if manuForm.country_ta and manuForm.country_ta.value %}{{manuForm.country_ta.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="country-key hidden">{{manuForm.country}}</div>
            <div class="edit-mode hidden">{{manuForm.country_ta}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- City -->
      <tr class="form-row">
        <td valign="top"><b>City</b></td>
        <td class="manuscript-city" align="left">
          <div class="view-mode">{% if manuForm.city_ta and manuForm.city_ta.value %}{{manuForm.city_ta.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="city-key hidden">{{manuForm.city}}</div>
            <div class="edit-mode hidden">{{manuForm.city_ta}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Library -->
      <tr class="form-row">
        <td valign="top"><b>Library</b></td>
        <td class="manuscript-library" align="left">
          <div class="view-mode">{% if manuForm.libname_ta and manuForm.libname_ta.value %}{{manuForm.libname_ta.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="library-key hidden">{{manuForm.library}}</div>
            <div class="edit-mode hidden">{{manuForm.libname_ta}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Identifier -->
      <tr class="form-row">
        <td valign="top"><b>Identifier</b></td>
        <td class="manuscript-name" align="left">
          <div class="view-mode">{% if manuForm.idno.value %}{{manuForm.idno.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}<div class="edit-mode hidden">{{manuForm.idno}}</div>{% endif %}
        </td>
      </tr>

      <!-- Title -->
      <tr class="form-row">
        <td valign="top"><b>Title</b></td>
        <td class="manuscript-name" align="left">
          <div class="view-mode">{{manuForm.name.value}}</div>
          {% if is_passim_editor %}<div class="edit-mode hidden">{{manuForm.name}}</div>{% endif %}
        </td>
      </tr>

      <!-- Origin -->
      <tr class="form-row">
        <td valign="top"><b>Origin</b></td>
        <td class="manuscript-support" align="left">
          <div class="view-mode">
            {% if manuForm.instance.origin %}
              {{manuForm.instance.origin.name}}{% if manuForm.instance.origin.location %}: {{manuForm.instance.origin.location.get_loc_name}}{% endif %}
            {% else %}-{% endif %}
          </div>
          {% if is_passim_editor %}
            <div class="origin-key hidden">{{manuForm.origin}}</div>
            <div class="edit-mode hidden">{{manuForm.origname_ta}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Dateranges -->
      <!-- Dates for this manuscript -->
      <tr class="form-row">
        <td valign="top"><b>Date</b></td>
        <td class="manuscript-date" align="left">
          <div class="view-mode">
            {% for range in manuForm.instance.manuscript_dateranges.all %}
              <div>
                <span>{{range.yearstart}} - {{range.yearfinish}}</span>
                {% if range.reference %}
                  <span>{{range.reference.get_short_markdown|safe}}</span>
                {% endif %}
                {% if range.pages %}<span>pp. {{range.pages}}</span>{% endif %}
              </div>
            {% endfor %}
          </div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden" id="mdr_formset">
              <table class="func-view" style="width: 100%;">
                <thead>
                  <tr><th colspan="1">#</th><th>From</th><th>Until</th><th>Literature reference</th><th>Pages</th><th>&nbsp;</th></tr>
                </thead>
                <tbody>
                  <!-- Allows up to three date ranges-->
                  {% for mdrform in mdr_formset %}
                    <tr class="form-row hide-on-delete">
                      <!-- A 1-based counter for the forms in this set-->
                      <td style="min-width: 20px;"><span>{{forloop.counter}}</span></td>

                      <!-- Hidden but essential: the id of this manuscript-daterange -->
                      <td class="hidden">{{mdrform.id}}</td>

                      <!-- From and Until -->
                      <td style="min-width: 80px;">{{mdrform.yearstart}}</td>
                      <td style="min-width: 80px;">{{mdrform.yearfinish}}</td>

                      <!-- Literature reference -->
                      <td style="width: 100%;">
                        <div>{{mdrform.reference}}</div>
                        <!-- Confirmation of delete -->
                        <div class="delete-confirm hidden">
                          <span>Do you really want to delete the link to this daterange?</span>
                          <span>
                            <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                          </span>
                          <span class="hidden">{{mdrform.DELETE}}</span>
                          <span>
                            <a class="btn btn-xs jumbo-4 delete-row" extra="mdr">Delete</a>
                          </span>
                        </div>
                      </td>

                      <!-- Pages -->
                      <td style="min-width: 100px;">{{mdrform.pages}}</td>

                      <!-- A delete button -->
                      <td title="Delete this daterange" style="vertical-align: middle; width: 20px; " class="clickable">
                        {% if is_passim_editor %}
                          <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}

                  {% if is_passim_editor %}
                  <!-- mdr_formset.empty_form -->
                    <!-- Empty row with specifications -->
                    <tr class="form-row empty-form">
                      <!-- A 1-based counter for the forms in this set-->
                      <td style="min-width: 20px;"><span>__counter__</span></td>

                      <!-- Hidden but essential: the id of this litref -->
                      <td class="hidden">{{mdr_formset.empty_form.id}}</td>

                      <!-- From and Until -->
                      <td style="min-width: 80px;">{{mdr_formset.empty_form.yearstart}}</td>
                      <td style="min-width: 80px;">{{mdr_formset.empty_form.yearfinish}}</td>

                      <!-- Literature reference -->
                      <td style="width: 100%;">
                        <div>{{mdr_formset.empty_form.reference}}</div>
                        <!-- Confirmation of delete -->
                        <div class="delete-confirm hidden">
                          <span>Do you really want to delete the link to this daterange?</span>
                          <span>
                            <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                          </span>
                          <span>
                            <a class="btn btn-xs jumbo-4 delete-row" extra="mdr">Delete</a>
                          </span>
                        </div>
                      </td>

                      <!-- Pages -->
                      <td style="min-width: 100px;">{{mdr_formset.empty_form.pages}}</td>

                      <!-- A delete button -->
                      <td title="Delete this daterange" style="vertical-align: middle; width: 20px; " class="clickable">
                        <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                      </td>
                    </tr>

                    <!-- Add row -->
                    <tr class="add-row">
                      <td colspan="6">
                        <span id="add_manu_daterange">
                          <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add a daterange to this manuscript</a>
                        </span>
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          {% endif %}
        </td>
      </tr>

      <!-- Physical appearance -->
      <tr class="form-row">
        <td valign="top"><b>Support</b></td>
        <td class="manuscript-support" align="left">
          <div class="view-mode">{% if manuForm.instance.support %}{{manuForm.support.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}<div class="edit-mode hidden">{{manuForm.support}}</div>{% endif %}
        </td>
      </tr>
      <tr class="form-row">
        <td valign="top"><b>Extent</b></td>
        <td class="manuscript-extent" align="left">
          <div class="view-mode">{% if manuForm.instance.extent %}{{manuForm.extent.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}<div class="edit-mode hidden">{{manuForm.extent}}</div>{% endif %}
        </td>
      </tr>
      <tr class="form-row">
        <td valign="top"><b>Format</b></td>
        <td class="manuscript-format" align="left">
          <div class="view-mode">{% if manuForm.instance.format %}{{manuForm.format.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}<div class="edit-mode hidden">{{manuForm.format}}</div>{% endif %}
        </td>
      </tr>

      <!-- VIEW only: keywords -->
      <tr class="form-row">
        <td valign="top"><b>Keywords</b></td>
        <td class="manuscript-format" align="left">
          <div class="any-mode">
            {% if manuForm.instance.keywords.count > 0 %}
              {% for kw in manuForm.instance.keywords.all %}
                <span class="keyword">{{kw.name}}</span>
              {% endfor %}
            {% else %}-{% endif %}
          </div>
        </td>
      </tr>

      <!-- The remainder is only visible by passim editors, and only in EDIT mode, and only as visualisation... -->
      {% if is_passim_editor %}
        <tr class="edit-mode hidden">
          <td valign="top"><b>Information:</b></td>
          <td>
            <div>
              <a class="btn btn-xs jumbo-1" data-toggle="collapse" data-target="#source_info" role="button" title="Show source information...">
                <span class="glyphicon glyphicon-search"></span>&nbsp;Source Collection
              </a>
            </div>
            <div id="source_info" class="collapse inert">
              {% if manuForm.instance.source %}
                Collected by {{ manuForm.instance.source.collector}} on {{manuForm.instance.source.created}} (<a href="{{manuForm.instance.source.url}}">url</a>).
                Code: <span class="kw">{{manuForm.instance.source.code}}</span>
              {% else %}
                <i>(No source information)</i>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</form>
