{% load i18n %}

<div id="mext_formset" class="panel panel-wide panel-default">

  <div class="row" id="mext_formset_main">
    <form action="">
      {% csrf_token %}
      <!-- Need to have the management stuff for 'mext' -->
      {{ mext_formset.management_form }}

      <div class="col-md-12">
        {% if not is_passim_editor and mext_formset|length == 0 %}
          <p>No external links defined for this manuscript</p>
        {% else %}
          <table class="func-view" style="width: 100%;">
            <thead>
              <tr><th colspan="2">#</th><th>External URL</th><th>&nbsp;</th></tr>
            </thead>
            <tbody>
              {% for extform in mext_formset %}
                <tr class="form-row">
                  <!-- A 1-based counter for the forms in this set-->
                  <td style="min-width: 20px;"><span>{{forloop.counter}}</span></td>

                  <!-- Hidden but essential: the id of this external link -->
                  <td class="hidden">{{extform.id}}</td>

                  <!-- A button to edit or save this external link -->
                  <td valign="top" class="clickable"  style="min-width: 20px;">
                    {% if is_passim_editor %}
                      <div class="view-mode">
                        <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit');" title="Edit this external link">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </div>
                      <div class="edit-mode hidden">
                        <a title="Save changes to this external link"
                           onclick="ru.passim.seeker.formset_update(this);"
                           targetid="manuscript_extset"
                           targeturl="{% url 'manu_extset' pk=object_id %}">
                          <span class="glyphicon glyphicon-ok"></span>
                        </a>
                      </div>
                    {% endif %}
                  </td>

                  <!-- The external URL -->
                  <td  style="width: 100%;">
                    <div class="view-mode">
                      <a href="{{extform.instance.url}}" target="_blank">{{extform.instance.url}}</a>
                    </div>
                    <div class="edit-mode hidden">{{extform.url}}</div>
                    <!-- Confirmation of delete -->
                    {% if is_passim_editor %}
                      <div class="delete-confirm hidden">
                        <span>Do you really want to remove this external URL?</span>
                        <span>
                          <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                        </span>
                        <span class="hidden">{{extform.DELETE}}</span>
                        <span>
                          <a class="btn btn-xs jumbo-4" 
                             onclick="ru.passim.seeker.formset_update(this, 'delete');"
                             targetid="manuscript_extset"
                             targeturl="{% url 'manu_extset' pk=object_id %}">Delete</a>
                        </span>
                      </div>
                    {% endif %}
                  </td>

                  <!-- A delete button -->
                  <td title="Delete this external URL" style="vertical-align: middle; width: 20px; " class="clickable">
                    {% if is_passim_editor %}
                      <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                    {% endif %}
                  </td>
                </tr>

              {% endfor %}

              {% if is_passim_editor %}
                <!-- Empty row with specifications -->
                <tr class="form-row empty-form">
                  <!-- A 1-based counter for the forms in this set-->
                  <td style="min-width: 20px;"><span>__counter__</span></td>

                  <!-- A button to edit or save this link -->
                  <td valign="top" class="clickable hightlighted"  style="min-width: 20px;">
                    <div class="view-mode hidden">
                      <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit');" title="Edit this link">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </div>
                    <div class="edit-mode">
                      <a title="Save changes to this link"
                          onclick="ru.passim.seeker.formset_update(this);"
                          targetid="manuscript_extset"
                          targeturl="{% url 'manu_extset' pk=object_id %}">
                        <span class="glyphicon glyphicon-ok"></span>
                      </a>
                    </div>
                  </td>

                  <!-- The external URL -->
                  <td  style="width: 100%;">
                    <div class="view-mode hidden">{{mext_formset.empty_form.instance.url}}</div>
                    <div class="edit-mode">{{mext_formset.empty_form.url}}</div>
                    <!-- Confirmation of delete -->
                    <div class="delete-confirm hidden">
                      <span>Do you really want to remove this external URL?</span>
                      <span>
                        <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                      </span>
                      <span>
                        <a class="btn btn-xs jumbo-4 delete-row" extra="mext">Delete</a>
                      </span>
                    </div>
                  </td>

                  <!-- A delete button -->
                  <td title="Delete this external URL" style="vertical-align: middle; width: 20px; " class="clickable">
                    <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                  </td>
                </tr>

                <!-- Add row -->
                <tr class="add-row">
                  <td colspan="6">
                    <span id="add_manu_prov">
                      <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add an external URL to this manuscript</a>
                    </span>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        {% endif %}

        <div id="error_location"></div>
      </div>
    </form>
  </div>
</div>
