{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
  {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block content %}
  <div>

    {% if authenticated %}
 
       <div class="panel panel-default subform">
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="col-md-1">
            <a class="btn jumbo-1" 
               href="{{prevpage}}"
               title="Back to the list of manuscripts">&lt;&lt;</a>
          </div>
          <div class="col-md-10">
            <!-- Incorporate the manuscript details-->
            <div id="manuscript_info" >
              <!-- Used to be: seeker/manuscript_info -->
              {% include 'seeker/manuscript_edit.html' %}
            </div>

            <!-- Manuscript provenances: zero-to-many -->
            <div class="row">
              <div class="col-md-6">
                <!-- a Button to show/hide provenances -->
                <span><a role="button" class="btn btn-xs jumbo-1" targetid="manuscript_provset" title="Show/Hide provenances" onclick="ru.passim.seeker.toggle_click(this);">Provenances</a></span>

                <!-- A button to show/hide external links -->
                <span><a role="button" class="btn btn-xs jumbo-1" targetid="manuscript_extset" title="Show/Hide external links" onclick="ru.passim.seeker.toggle_click(this);">External links</a></span>

                <!-- A button to show/hide the table of literature -->
                <span><a role="button" class="btn btn-xs jumbo-1" targetid="manuscript_litset" title="Show/Hide literature references" onclick="ru.passim.seeker.toggle_click(this);">Literature</a></span>

                <!-- A button to show/hide the keywords -->
                <span><a role="button" class="btn btn-xs jumbo-1" targetid="manuscript_kwset" title="Show/Hide keywords" onclick="ru.passim.seeker.toggle_click(this);">Keywords</a></span>
              </div>
              {% if is_passim_editor %}
                <div class="col-md-6" align="right">
                  <span ><!-- class="pull-right" -->
                    <a role="button" class="btn btn-xs jumbo-3"
                       title="Open a list of origins"
                       href="{% url 'origin_list' %}">
                    <span class="glyphicon glyphicon-chevron-right"></span>Origins...</a>
                  </span>
                  <span ><!-- class="pull-right" -->
                    <a role="button" class="btn btn-xs jumbo-3"
                       title="Open a list of locations"
                       href="{% url 'location_list' %}">
                    <span class="glyphicon glyphicon-chevron-right"></span>Locations...</a>
                  </span>
                </div>
              {% endif %}
            </div>
            <!-- This is where a NEW sermon definition can be edited -->
            {% if is_passim_editor %}
              <div class="row subform">
                <div class="col-md-10 col-md-offset-1">
                  <div id="location_new">
                    <!-- Room to create a new location instance that can be used as Origin or Provenance -->
                  </div>
                </div>
              </div>
            {% endif %}

            <!-- The set of provenances belonging to this manuscript -->
            <div id="manuscript_provset" class="post-load hidden" targeturl="{% url 'manu_provset' pk=manuForm.instance.id %}">
              <!-- The wait symbol will be overwritten -->
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>

            <!-- The set of external links belonging to this manuscript -->
            <div id="manuscript_extset" class="post-load hidden" targeturl="{% url 'manu_extset' pk=manuForm.instance.id %}">
              <!-- The wait symbol will be overwritten -->
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>

            <!-- The set of literature references belonging to this manuscript --> 
            <div id="manuscript_litset" class="post-load hidden" targeturl="{% url 'manu_litset' pk=manuForm.instance.id %}">
              <!-- The wait symbol will be overwritten -->
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>

            <!-- Keywords -->
            <div class="row">
              <!-- Room for the keywords attached to this manuscript -->
              <div class="col-md-3">
                <div id="manuscript_kwset" class="post-load hidden" targeturl="{% url 'manu_kwset' pk=manuForm.instance.id %}" >
                  <!-- The wait symbol will be overwritten -->
                  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
              </div>
            </div>

            <!-- Hidden modal trigger button -->
            <div class="hidden">
              <button id="sermon_manipulate" type="button" 
                      class="btn" data-toggle="modal" data-target="#sermon_hierarchy"
                      onclick="ru.passim.seeker.sermon_copytree();"
                      >Hierarchy</button>
            </div>

            <!-- Modal form that shows the manipulation buttons to move something around -->
            <div id="sermon_hierarchy" class="modal fade" role="dialog">
              <div class="modal-dialog modal-sm" style="width: 100px;">
                <!-- Modal content -->
                <div class="modal-content">
                  <div class="modal-header" style="background-color: goldenrod;">
                    <a class="btn btn-xs jumbo-2" role="button"
                       title="Save the new hierarchy"
                       onclick="ru.passim.seeker.sermon_move('save');"
                       ><span class="glyphicon glyphicon-ok"></span>&nbsp;Save
                    </a>
                  </div>
                  <div class="modal-body modal-dragpoint">
                    <table>
                      <tbody>
                        <tr>
                          <td>&nbsp;</td>
                          <td><a class="btn btn-xs jumbo-3" role="button" onclick="ru.passim.seeker.sermon_move('up');"><span class="glyphicon glyphicon-arrow-up"></span></a></td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td><a class="btn btn-xs jumbo-3" role="button" onclick="ru.passim.seeker.sermon_move('left');"><span class="glyphicon glyphicon-arrow-left"></span></a></td>
                          <td><a class="close btn btn-xs jumbo-1" title="Close" role="button" data-dismiss="modal" style="padding-left: 1px;padding-right: 1px;" onclick="ru.passim.seeker.sermon_move('close', this);"><span class="glyphicon glyphicon-remove"></span></a></td>
                          <td><a class="btn btn-xs jumbo-3" role="button" onclick="ru.passim.seeker.sermon_move('right');"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td><a class="btn btn-xs jumbo-3" role="button" onclick="ru.passim.seeker.sermon_move('down');"><span class="glyphicon glyphicon-arrow-down"></span></a></td>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- Manuscript items: one-to-many -->
            {% if manuForm.instance.id  %}
              <div class="row">&nbsp;</div>
              <div id="manuscript_itemset" class="row">
                <div class="col-md-12">
                  <!-- Sermons in this manuscript -->
                  <h3>
                    <span>Contents</span>
                    {% if is_passim_editor %}
                      <span id="add_search_criteria" class="pull-right">
                        <!-- Completely manual sermon adding -->
                        <a class="btn btn-xs jumbo-3" role="button" 
                           onclick="document.getElementById('create_new_sermon').submit();"
                           >
                          <span class="glyphicon glyphicon-plus"></span>Add a sermon to this manuscript
                        </a>
                      </span>
                    {% endif %}
                  </h3>

                  <!-- Room to have the form-link to create a new sermon for this manuscript -->
                  <div class="hidden" >
                    <form action="{% url 'sermon_details' %}" method="post" id="create_new_sermon">
                      {% csrf_token %}
                      <input type="text" name="sermo-manu" value="{{manuForm.instance.id}}" />
                    </form>
                  </div>

                  <!-- Hidden hierarchy submit form -->
                  <div class="hidden">
                    <form id="save_new_hierarchy" method="post" action="{% url 'manuscript_hierarchy' pk=manuForm.instance.id %}">
                      {% csrf_token %}
                      <input type="text" id="id_manu-hlist" name="manu-hlist" value="" />
                    </form>
                  </div>

                    <!-- This is where the sermon that is currently being edited shows up -->
                    {% if is_passim_editor %}
                      <div class="row edit-sermon hidden">
                        <div class="col-md-10 col-md-offset-1">
                          <div class="panel panel-default" 
                               parent="{{manuForm.instance.id}}"
                               manusurl="{% if  manuForm.instance.id %}{% url 'manuscript_edit' manuForm.instance.id %}{% else %}{% url 'manuscript_edit' %}{% endif %}"
                               id="sermon_edit">
                          </div>
                        </div>
                      </div>
                    {% endif %}

                    <!-- This is where a NEW sermon definition can be edited -->
                    {% if is_passim_editor %}
                      <div class="row subform">
                        <div class="col-md-10 col-md-offset-1">
                          <div id="sermon_new">
                            <!-- Room to create a new sermon instance that should be added to this manuscript -->
                          </div>
                        </div>
                      </div>
                    {% endif %}


                  {% if object.manusermons.count == 0 %}
                    <p><i>This manuscript does not contain a definition of its contents</i></p>
                  {% else %}

                    <!-- A table to show all the sermons of this manuscript -->
                    <table id="sermon_list" class="func-view" >
                      <!-- There is the place where the tree actually comes as it is drawn-->
                    </table>

                    <!-- A place where the Sermons are put in hierarchically organized <div> elements -->
                    <div id="sermon_tree" class="hidden">
                      <!-- This is where the sermon hierarchy is put-->
                      {% for sermon in sermon_list %}
                        {% if sermon.childof == 1 %}
                          {% include 'seeker/sermon_one.html' with sermon=sermon sermon_list=sermon_list level=1 %}
                        {% endif %}
                      {% endfor %}
                    </div>

                  {% endif %}
                </div>
              </div>
            {% endif %}

          </div>
        </div>
      </div>

    {% else %}
      <div class="explanation">
        <p>Dear user, you are <b>not</b> logged in.</p>
        <p>Unfortunately this means that you will not be able to perform any searches.</p>
        <p>Should you want to work with Passim, here are your options:
          <ul>
            <li><a class="btn btn-info btn-xs" href="{% url 'login' %}">Login</a> - if you already have an account</li> 
            <li><a class="btn btn-warning btn-xs" href="{% url 'signup' %}">Sign up</a> - if you don't have an account yet</li>
          </ul>
        </p>
      </div>
    {% endif %}
    
  </div>

<script>
  ru.passim.seeker.sermon_drawtree();
  ru.passim.init_event_listeners();
  ru.passim.seeker.init_events();
</script>


{% endblock content %}
