{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
  {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block content %}

    {% if object_list %}
      <div class="panel panel-default">

        <h3>Reports</h3>
        <div class="row">
            <div class="col-sm-3"><span>Found: </span><span>{{entrycount}}</span></div>
            <div class="col-sm-1"><span id="waitingsign" class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span></div>
            <div class="col-sm-8">
            <span class="step-links pull-right">

            {% include 'pagination.html' %}

            </span>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead><tr><th class="hidden">id</th><th>Date</th><th>User</th><th>Type</th><th><!-- Buttons --></th></tr></thead>
              <tbody>
              {% for report in object_list %}
                <tr class="dict-entry">
                  <td class="hidden"> {{ report.id }}</td>
                  <td><span class="report-date tdnowrap">{{report.created|date:"j/b/o G:i"}}</span></td>
                  <td><span class="report-name tdnowrap">{{report.user.username}}</span></td>
                  <td style="width: 100%;">
                    <span class="report-type"><a href="{% url 'report_details' report.id %}">{{report.get_reptype_display}}</a></span>
                  </td>
                  <!-- Buttons for this report-->
                  <td class="tdnowrap">
                    <form>
                      <!-- Be sure to add csrf -->
                      {% csrf_token %}
                      <div id="downloadcenter" class="hidden">
                        <input name='downloadtype' id='downloadtype' class='form-control' value='' >
                      </div>
                      <div>
                        <a id="downloadmenu" role="button" class="btn jumbo-1 btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
                                onclick="" >
                          Download<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="downloadmenu">
                          <li><a href="#" downloadtype="xlsx" ajaxurl="{% url 'report_results' report.id %}" onclick="ru.passim.post_download(this);">Excel</a></li>
                          <li class="divider" role="separator"></li>
                          <li><a href="#" downloadtype="csv"  ajaxurl="{% url 'report_results' report.id  %}" onclick="ru.passim.post_download(this);">csv (tab-separated)</a></li>
                          <li><a href="#" downloadtype="json" ajaxurl="{% url 'report_results' report.id  %}" onclick="ru.passim.post_download(this);">json</a></li>
                        </ul>
                      </div>
                    </form>
                  </td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% else %}
        <p>No reports have been found.</p>
      {% endif %}

      <div class="pagination">
          <span class="step-links">

          {% include 'pagination.html' %}

          </span>
      </div>

      </div>

{% endblock content %}

