{% load i18n %}

<!-- Sermon information -->
<form>
  {% csrf_token %}
    <table class="sermon-details">
      <!-- Row to indicate editing, if possible -->
      {% if is_passim_editor %}
        <tr>
          <td colspan="2"  class="ms editable table">
            <!-- Provide the necessary buttons: edit, cancel and save -->
            <a mode="edit" class="view-mode btn btn-xs jumbo-1">
              <span class="glyphicon glyphicon-pencil" title="Edit these data"></span>
            </a>
            <a mode="cancel" class="edit-mode btn btn-xs jumbo-2 hidden">
              <span class="glyphicon glyphicon-arrow-left" title="Cancel (do *NOT* save)"></span>
            </a>
            <a mode="save" class="edit-mode btn btn-xs jumbo-1 hidden" targetid="" oldtargetid="sermon_edit"
               targeturl="{% if sermoForm.instance.id %}{% url 'sermon_edit' sermoForm.instance.id %}{% else %}{% url 'sermon_edit' %}{% endif %}" >
              <span class="glyphicon glyphicon-ok" title="Save these data">&nbsp;Save</span>
            </a>

            <!-- The sermon's number (if known) -->
            <span id="sermon_number"></span>

            <!-- Waiting symbol-->
            <span class="waiting glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>

            <!-- Little error message room -->
            <span id="sermon_err_msg" class="err-msg"></span>

            <!-- Put the delete button completely to the right-->
            <a mode="delete" class="edit-mode btn btn-xs jumbo-3 pull-right" 
               targetid="" oldtargetid="sermon_edit"
               targeturl="{% if sermoForm.instance.id %}{% url 'sermon_edit' sermoForm.instance.id %}{% endif %}">
              <span class="glyphicon glyphicon-remove" title="Delete this sermon"></span>
            </a>
          </td>
        </tr>
      {% endif %}

      <tr class="edit-new form-row hidden">
        <td class="hoverable" style="min-width: 300px;">Copy information from:</td>
        <td>
          <table>
            <tr>
              <td >
                <div class="hidden signature-key">{{sermoForm.signatureid}}</div>
                <div>{{sermoForm.signature}}</div>
              </td>
              <td>
                <a class="btn btn-xs jumbo-3 pull-right" role="button"
                   targeturl="{% url 'get_gold' %}"
                   onclick="ru.passim.seeker.base_sermon(this, 'signature-key');">
                  <span class="glyphicon glyphicon-arrow-right" title="Copy the information from gold-sermon">&nbsp;Copy</span>
                </a>
              </td>
            </tr>
          </table>

        </td>
      </tr>

      <!-- Make sure we pass on the manuscript_id to which this sermon belongs -->
      <tr class="hidden">
        <td colspan="1">
          <input id="id_manuscript_id" name="manuscript_id" type="text" value="{{manuscript_id}}" />
        </td>
        <td>{{sermoForm.manu}}</td>
      </tr>

      <!-- Sermon status -->
      <tr class="form-row edit-notnew">
        <td valign="top">Status</td>
        <td class="sermon-status" align="left">
          <div class="view-mode">{{sermoForm.instance.get_stype_display}}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.stype}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Locus -->
      <tr class="form-row">
        <td class="hoverable" style="min-width: 150px;">Locus</td>
        <td  style="width: 100%;">
          <div class="view-mode">{% if sermoForm.locus.value %}{{sermoForm.locus.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.locus}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Gold-standard author -->
      <tr class="form-row">
        <td class="hoverable">Author (gold standard)</td>
        <td>
          <div class="view-mode">{% if sermoForm.instance.author %}{{sermoForm.instance.author.name}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="author-key hidden">{{sermoForm.author}}</div>
            <div class="edit-mode hidden">{{sermoForm.authorname}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Title -->
      <tr class="form-row">
        <td class="hoverable">Title</td>
        <td >
          <div class="view-mode" style="font-variant: small-caps;">{% if sermoForm.title.value %}{{sermoForm.title.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.title}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Sub Title -->
      <tr class="form-row">
        <td class="hoverable">Sub title</td>
        <td>
          <div class="view-mode" style="font-variant: small-caps;">{% if sermoForm.subtitle.value %}{{sermoForm.subtitle.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.subtitle}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Incipit -->
      <tr class="form-row">
        <td class="hoverable">Incipit</td>
        <td >
          <div class="view-mode">{% if sermoForm.incipit.value %}{{sermoForm.instance.get_incipit_markdown|safe}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.incipit}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Explicit -->
      <tr class="form-row">
        <td class="hoverable">Explicit</td>
        <td >
          <div class="view-mode">{% if sermoForm.explicit.value %}{{sermoForm.instance.get_explicit_markdown|safe}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.explicit}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Quote -->
      <tr class="form-row">
        <td class="hoverable">Quote</td>
        <td >
          <div class="view-mode">{% if sermoForm.quote.value %}{{sermoForm.quote.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.quote}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Bibliography notes -->
      <tr class="form-row">
        <td class="hoverable">Bibliography notes</td>
        <td >
          <div class="view-mode">{% if sermoForm.bibnotes.value %}{{sermoForm.bibnotes.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.bibnotes}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Feast -->
      <tr class="form-row">
        <td class="hoverable">Feast</td>
        <td >
          <div class="view-mode">{% if sermoForm.feast.value %}{{sermoForm.feast.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.feast}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Bible reference(s) -->
      <tr class="form-row">
        <td class="hoverable">Bible reference(s)</td>
        <td >
          <div class="view-mode">{% if sermoForm.bibleref.value %}{{sermoForm.bibleref.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.bibleref}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Additional -->
      <tr class="form-row">
        <td class="hoverable">Additional</td>
        <td >
          <div class="view-mode">{% if sermoForm.additional.value %}{{sermoForm.additional.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.additional}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Note(s) -->
      <tr class="form-row">
        <td class="hoverable">Note</td>
        <td >
          <div class="view-mode">{% if sermoForm.note.value %}{{sermoForm.note.value}}{% else %}-{% endif %}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{sermoForm.note}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- VIEW only: keywords -->
      <tr class="form-row">
        <td valign="top" class="hoverable">Keywords</td>
        <td class="manuscript-format" align="left">
          <div class="any-mode">
            {% if sermoForm.instance.keywords.count > 0 %}
              {% for kw in sermoForm.instance.keywords.all %}
                <span class="keyword">{{kw.name}}</span>
              {% endfor %}
            {% else %}-{% endif %}
          </div>
        </td>
      </tr>

    </table>
    
</form>
