{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  {% include 'breadcrumb_list.html' %}
{% endblock %}

{% block scripts %}
  {{goldForm.media.css}}
{% endblock %}

{% block content %}

  <div>

    {% if authenticated %}
      <!-- Upper part of the sermongold list interface -->

      <div id="goldsermons_top" >

        <!-- Allow access to interface parts that are normally hidden -->
        <div  class="panel panel-none">

          <div class="row">
            <div class="col-md-2 col-md-offset-10 text-right">
              <span class="">
                <!-- NEW: use filtering instead of 'searching' -->
                <a class="btn btn-xs jumbo-4" data-toggle="collapse" data-target="#tab_filter" role="button" title="Define your filter(s)...">
                  <span class="glyphicon glyphicon-filter"></span>
                </a>

                <!-- Allow uploading sermongold Excel files -->
                {% if is_passim_uploader %}
                  <a class="btn btn-xs jumbo-1" data-toggle="collapse" data-target="#tab_upload_goldexcel" 
                     role="button" title="Upload Excel files" >
                    <span class="glyphicon glyphicon-upload"></span>
                  </a>
                {% endif %}
              </span>
            </div>
          </div>
        </div>

        <form  id="goldsermons_filter" method='post' action="{% url 'search_gold' %}" >
          {% csrf_token %}
          <!-- entrypoint for search_paged_start -->
          <div class="hidden search_paged_start">
            <input name="page" type="text" />
          </div>

          <!-- Filter tab -->
          <div class="inert {% if has_filter %}in{% else %}collapse{% endif %}" id="tab_filter">
            <div class="panel panel-default">
              <!-- Filter interface -->
              <div class="row" id="filter_badges">
                <div class="col-md-2">
                  <h4>Selected filters</h4>
                </div>
                <div class="col-md-10">
                  <!-- Main filters -->
                  <div>
                    <h4>
                    {% for filter in filters %}
                      {% if not filter.head_id %}
                        <span class="badge filter {% if filter.enabled %} jumbo-3 on {% else %} jumbo-1 {% endif %} " targetid="{{filter.id}}" >{{filter.name}}</span>
                      {% endif %}
                    {% endfor %}
                    </h4>
                  </div>
                </div>
              </div>
              
              <div class="row" id="sermon_filter_specs">
                <!-- The column with the different filter sections -->
                <div class="col-md-10">
                  <div class="panel panel-default ">

                    <!-- Intro -->
                    <div><h5>Gold sermon filters: </h5></div>

                    <!-- One or more authors -->
                    <div id="filter_author" class="{% if not goldForm.authorname.value and not goldForm.authorlist.value %}hidden{% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row">
                          <td style="min-width: 130px;" valign="top">Author</td>
                          <td style="width: 100%;">
                            <span class="author-key hidden">{{goldForm.author}}</span>
                            <span>{{goldForm.authorname}}</span>
                            <span> or select: </span>
                            <span>{{goldForm.authorlist}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <!-- One or more incipits -->
                    <div id="filter_incipit" class="{% if not goldForm.incipit.value %}hidden{% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row"><td style="min-width: 130px;">Incipit</td><td style="width: 100%;">{{goldForm.incipit}}</td></tr>
                      </table>
                    </div>

                    <!-- One or more explicits -->
                    <div id="filter_explicit" class="{% if not goldForm.explicit.value %}hidden{% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row"><td style="min-width: 130px;">Explicit</td><td style="width: 100%;">{{goldForm.explicit}}</td></tr>
                      </table>
                    </div>

                    <!-- One or more titles -->
                    <div id="filter_title" class="{% if not goldForm.title.value %}hidden{% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row"><td style="min-width: 130px;">Title</td><td style="width: 100%;">{{goldForm.title}}</td></tr>
                      </table>
                    </div>

                    <!-- One or more signatures -->
                    <div id="filter_signature" class="{% if not goldForm.signature.value and not goldForm.siglist.value %}hidden{% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row">
                          <td style="min-width: 130px;" valign="top">Gryson or Clavis:</td>
                          <td style="width: 100%;">
                            <span style="min-width: 100px;">{{goldForm.signature}}</span>
                            <span> or select: </span>
                            <span>{{goldForm.siglist}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <!-- One or more keywords -->
                    <div id="filter_keyword" class="{% if not goldForm.keyword.value %}hidden{% endif %}">
                      <table style="width: 100%;">
                        <tr class="form-row">
                          <td style="min-width: 130px;">Keyword</td>
                          <td style="width: 100%;">
                            <span style="min-width: 100px;">{{goldForm.keyword}}</span>
                            <span> or select: </span>
                            <span>{{goldForm.kwlist}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>

                  </div>
                </div>

              </div>

              <!-- Row with buttons-->
              <div class="row">
                <div class="col-md-2 col-md-offset-10 text-right">
                  <!-- Room to reset the search criteria -->
                  <span>
                    <a role="button" class="btn btn-sm jumbo-1" title="Clear search criteria" onclick="ru.passim.seeker.search_clear(this);" >Clear</a>
                  </span>
                  <!-- Submit the search form -->
                  <span>
                    <a role="button" class="btn btn-sm jumbo-3" title="Start searching..." onclick="ru.passim.seeker.search_start(this);">Search</a>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </form>

        {% if is_passim_uploader %}
          <!-- Upload tab for SermonGold Excel files -->
          <div class="inert collapse" id="tab_upload_goldexcel">
            <div id="import_gold" class="row container">
              <form action="{% url 'import_gold' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Room for the filename to appear -->
                <div class="col-md-6 form-group" id="gold-import_info"
                      sync-progress="{% url 'sync_progress' %}?synctype=gold"
                      targetid="gold_data_import"
                      targeturl="{% url 'import_gold' %}">
                  <div class="input-group">
                    <span>Specify the Excel file(s) with the Sermon-Gold data</span>
                    <span class="input-group-btn">
                      <span class="btn btn-default btn-xs btn-file">
                        Browse...
                        <input id="id_files_field" name="files_field" required="" multiple="" type="file" oninput="ru.passim.seeker.import_data('gold');" />
                      </span>
                    </span>
                  </div>
            
                </div>
                <!-- Progress of upload indicator -->
                <div class="col-md-6">
                  <progress class="hidden" style="width:100%;" id="gold-import_progress" value="0" min="0" max="100"></progress>
                </div>
                <!-- Any error reporting -->
                <div id="gold-import_error"></div>
              </form>

              <!-- Import information -->
              <div class="row">
                <div class="col-md-offset-1 col-md-10 ">
                  <div id="gold_data_import" class="project-part hidden panel panel-default">
                    <!-- This is where the import info comes-->
                  </div>
                </div>
              </div>

            </div>

          </div>
        {% endif %}

        <!-- List tab -->
        <div class="" id="tab_list">
          <div class="panel panel-default">
            <!-- <form> -->
              <h3>
                <span>Gold sermons</span>
                {% if is_passim_editor %}
                  <span id="add_sermongold" class="pull-right">
                      {% csrf_token %}
                      <a class="btn btn-xs jumbo-3" role="button" 
                         onclick="document.getElementById('create_new_gold').submit();" >
                        <span class="glyphicon glyphicon-plus"></span>Add a gold sermon
                      </a>
                  </span>
                {% endif %}
              </h3>
            <!-- </form> -->

            <!-- Room to have the form-link to create a new sermon for this manuscript -->
            <div class="hidden" >
              <form action="{% url 'gold_details' %}" method="post" id="create_new_gold">
                {% csrf_token %}
              </form>
            </div>

            {% if object_list %}
              <!-- Top pagination -->
              <div class="row">
                  <div class="col-sm-4"><span>Total: </span><span>{{entrycount}}</span></div>
                  <div class="col-sm-8">
                  <span class="step-links pull-right">

                  {% include 'pagination.html' %}

                  </span>
                  </div>
              </div>

              <!-- Table that contains a list of gold sermons -->
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="hidden">id</th>
                        {% for hd in order_heads %}
                          <th class="sortable" scope="col">
                            <div class="text">
                              {% if hd.order == "" %}{{hd.name}}
                              {% else %}
                              <a href=?{{hd.order}}>{{hd.name}}</a>
                              {% endif %}
                            </div>
                          </th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                    {% for gold in object_list %}
                      <tr class="dict-entry clickable"
                          onclick="ru.passim.seeker.goto_url('{% url 'gold_details' gold.id %}')">
                        <td class="hidden"> {{ gold.id }}</td>
                        <!-- Author / Signature / Incipit -->
                        <td class="gold-author tdnowrap" align="left" title="{{gold.author.name}}">{{gold.author.name|truncatechars:12}}</td>
                        <td class="gold-signature tdnowrap" align="left" title="{{gold.signatures}}">
                          <span>{{gold.signatures|truncatechars:20}}</span>
                        </td>
                        <td style="width: 100%;">
                          <span>{{gold.get_incipit_markdown|safe}}</span>
                          <span style="color: blue;">{% if gold.incipit %}...{% endif %}</span>
                          <span>{{gold.get_explicit_markdown|safe}}</span>
                        </td>

                        <!-- Editions -->
                        <td class="gold-edition tdnowrap" style="min-width: 100px;" align="left" title="{{gold.editions}}">
                          <span>{{gold.editions|truncatechars:20}}</span>
                        </td>

                        <!-- Give an overview of the links *from* this gold sermon to others -->
                        <td class="tdnowrap">
                          {% for link_def in gold.link_oview %}
                            {% if link_def.count > 0 %}
                            <span class="badge {{link_def.class}}" title="{{link_def.title}}">{{link_def.count}}</span>
                            {% endif %}
                          {% endfor %}
                        </td>

                        <!-- Show the status of this item -->
                        <td class="tdnowrap"><span class="badge" title="{{gold.get_stype_display}}">{{gold.stype|slice:":1"}}</span></td>
                      </tr>

                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- Bottom pagination -->
              <div class="pagination">
                  <span class="step-links">

                  {% include 'pagination.html' %}

                  </span>
              </div>

            {% else %}
              <p>No gold sermons have been found.</p>
            {% endif %}

            </div>

        </div>

      </div>

    
    {% else %}
      <div class="explanation">
        <p>Dear user, you are <b>not</b> logged in.</p>
        <p>Unfortunately this means that you will not be able to perform any searches.</p>
        <p>Should you want to work with Passim, here are your options:
          <ul>
            <li><a class="btn btn-info btn-xs" href="{% url 'login' %}">Login</a> - if you already have an account</li> 
            <li><a class="btn btn-warning btn-xs" href="{% url 'signup' %}">Sign up</a> - if you don't have an account yet</li>
          </ul>
        </p>
      </div>
    {% endif %}
    
  </div>

<script>
  ru.passim.seeker.init_events();
</script>

{% endblock content %}

{% block endcontent %} 
  {{goldForm.media.js }} 
{% endblock %}
