{% load i18n %}

<!-- SermonGold information -->
<form>
  {% csrf_token %}
    <table style="width: 100%;">
      <tr>
        <td colspan="2"  class="ms editable table">
          <!-- Provide the necessary buttons: edit, cancel and save -->
          {% if is_passim_editor %}
          <a mode="edit" class="view-mode btn btn-xs jumbo-1">
            <span class="glyphicon glyphicon-pencil" title="Edit these data"></span>
          </a>
          {% endif %}

          <a mode="cancel" class="edit-mode btn btn-xs jumbo-2 hidden">
            <span class="glyphicon glyphicon-arrow-left" title="Cancel (do *NOT* save)"></span>
          </a>

          {% if is_passim_editor %}
          <a mode="save" class="edit-mode btn btn-xs jumbo-1 hidden" targetid="sermon_edit"
             targeturl="{% if goldForm.instance.id %}{% url 'gold_view' goldForm.instance.id %}{% else %}{% url 'gold_view' %}{% endif %}" >
            <span class="glyphicon glyphicon-ok" title="Save these data">&nbsp;Save</span>
          </a>
          {% endif %}

          <!-- Waiting symbol-->
          <span class="waiting glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>

          <!-- Little error message room -->
          <span id="gold_err_msg" class="err-msg"></span>

          {% if is_passim_editor %}
          <!-- Put the delete button completely to the right-->
          <a mode="delete" class="edit-mode btn btn-xs jumbo-3 pull-right hidden" targetid="sermon_edit"
             targeturl="{% if goldForm.instance.id %}{% url 'gold_view' goldForm.instance.id %}{% endif %}">
            <span class="glyphicon glyphicon-remove" title="Delete this sermon"></span>
          </a>
          {% endif %}
        </td>
      </tr>

      <!-- Room for the standard fields -->
      <tr>
        <td class="hoverable" style="min-width: 150px;">Signature</td>
        <td style="width: 100%">
          <div class="edit-mode hidden">{{goldForm.signature}}</div>
          <div class="view-mode">{{goldForm.signature.value}}</div>
        </td>
      </tr>
      <tr>
        <td class="hoverable">Author (gold standard)</td>
        <td>
          <div class="author-key hidden">{{goldForm.author}}</div>
          <div class="edit-mode hidden">{{goldForm.authorname}}</div>
          <div class="view-mode">{{goldForm.instance.author.name}}</div>
        </td>
      </tr>
      <tr>
        <td class="hoverable">Incipit</td>
        <td>
          <div class="edit-mode hidden">{{goldForm.incipit}}</div>
          <div class="view-mode">{{goldForm.incipit.value}}</div>
        </td>
      </tr>
      <tr>
        <td class="hoverable">Explicit</td>
        <td>
          <div class="edit-mode hidden">{{goldForm.explicit}}</div>
          <div class="view-mode">{{goldForm.explicit.value}}</div>
        </td>
      </tr>

      <!-- Room for viewing and adding links to existing other SermonGold instances: FORMSET?? -->

      <!-- An empty hidden row that contains a formset for an additional SermonGold Link -->

    </table>
</form>
