{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
  {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block content %}
  <div>

    {% if authenticated %}
      <!-- Upper part of the gold-sermon details interface -->
      <div class="panel panel-default gold-head subform">
        <div class="row">&nbsp;</div>
        <div class="row">
          <!-- Possibility to go back-->
          <div class="col-md-1">
            <a class="btn jumbo-1" 
               href="{{prevpage}}"
               title="Return to the list of sermons">&lt;&lt;</a>
          </div>

          <!-- Actual contents -->
          <div class="col-md-10">

            <h3>Sermon details</h3>

            <!-- SermonDescr Main information -->
            <div id="sermon_edit">
              <!-- Note: the correct 'pk' is available in [sermoForm] -->
              {% include 'seeker/sermon_edit.html' %}
            </div>

            <!-- Show information of Gold-Sermon-linked authors-->
            <div>
              <table class="func-view">
                <tbody>
                  <tr class="form-row">
                    <td>Author[s] (SermonGold)</td>
                    <td>
                      {% if goldauthors|length == 0 %}
                        <span>(none)</span>
                      {% else %}
                        {% for author in goldauthors %}
                          <span>{{author.name}}</span>
                        {% endfor %}
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


            <!-- Post-fetched information -->
            <div class="row">
              <!-- A button to show/hide the table of literature -->
              <div class="col-md-6">
                <a role="button" class="btn btn-xs jumbo-1" targetid="sermon_litset" title="Show/Hide literature references" onclick="ru.passim.seeker.toggle_click(this);">Literature</a>
              </div>
            </div>
    
            <!-- The set of literature references belonging to this manuscript --> 
            <div class="row">&nbsp;</div>
            <div id="sermon_litset" class="post-load hidden" targeturl="{% url 'sermon_litset' pk=sermoForm.instance.id %}">
              <!-- The wait symbol will be overwritten -->
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>

            <!-- Room for viewing (and adding) links to existing other SermonGold instances: FORMSET?? -->
            {% if sermoForm.instance.id and is_passim_editor %}
              <div id="sermongold-links-{{sermoForm.instance.id}}">

                <!-- Modal attempt -->
                <div id="modal-goldlink-{{sermoForm.instance.id}}" class="modal fade goldlink subform" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content -->
                    <div class="modal-content">
                      <!-- introduction header -->
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Search and then select the gold sermon to link to</h4>
                      </div>

                      <!-- Body of the modal-->
                      <div class="modal-body subform" id="edit-goldlink-{{sermoForm.instance.id}}">
                        <!-- This is where the current gold-to-gold link shows up -->
                      </div>

                      <!-- Footer with the save button -->
                      <div class="modal-footer">
                        {% if is_passim_editor %}
                          <a class="btn jumbo-1" data-dismiss="modal"
                             onclick="ru.passim.seeker.gold_select_save(this);">
                            <span class="glyphicon glyphicon-ok" title="Save these data">&nbsp;Save</span>
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            {% endif %}

            <!-- SermonDescr signatures (Gryson, Clavis): zero-to-many -->
            <div class="row">&nbsp;</div>
            <div id="sermondescr_signset" class="post-load" targeturl="{% url 'sermon_signset' pk=sermoForm.instance.id %}" >
              <!-- The wait symbol will be overwritten -->
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>

            <!-- SermonDescr critical editions: viewed from linked gold-sermons -->
            <div class="row">&nbsp;</div>
            <div class="row">
              <!-- One or more critical editions that are linked to the gold-sermons associated with me -->
              <div class="col-md-4">
                <div id="sermondescr_ediset" class="post-load" targeturl="{% url 'sermon_ediset' pk=sermoForm.instance.id %}"  >
                  <!-- The wait symbol will be overwritten -->
                  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
              </div>

              <!-- One or more fulltext links (to critical editions) -->
              <div class="col-md-5">
                <!-- this is only applicable to gold sermons, not to sermon descriptions -->
              </div>

              <!-- Room for the keywords attached to this gold sermon -->
              <div class="col-md-3">
                <div id="sermondescr_kwset" class="post-load" targeturl="{% url 'sermon_kwset' pk=sermoForm.instance.id %}" >
                  <!-- The wait symbol will be overwritten -->
                  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
              </div>
            </div>

            <!-- Room for the links from this sermon -->
            <div class="row">&nbsp;</div>
            <div id="sermon_linkset" class="post-load" targeturl="{% url 'sermon_linkset' pk=sermoForm.instance.id %}" >
              <!-- The contents first show the waiting glyph and are then updated with the Ajax-fetched linkset -->
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>

          </div>
        </div>
        <div class="row">&nbsp;</div>

      </div>

    
    {% else %}
      <div class="explanation">
        <p>Dear user, you are <b>not</b> logged in.</p>
        <p>Unfortunately this means that you will not be able to perform any searches.</p>
        <p>Should you want to work with Passim, here are your options:
          <ul>
            <li><a class="btn btn-info btn-xs" href="{% url 'login' %}">Login</a> - if you already have an account</li> 
            <li><a class="btn btn-warning btn-xs" href="{% url 'signup' %}">Sign up</a> - if you don't have an account yet</li>
          </ul>
        </p>
      </div>
    {% endif %}
    
  </div>


<script>
  ru.passim.seeker.init_events();
</script>

{% endblock content %}
