{% load i18n %}

    {% if msitem.sermonsignatures.all|length > 0 %}
      <span class="signature">{{msitem.signatures}}</span>
    {% elif msitem.goldsignatures.all|length > 0 %}
      <span class="signature">{{msitem.signatures}}</span>
    {% else %}
      [-]
    {% endif %}
    {% if msitem.title %}<b>{{msitem.title}}</b>{% endif %}
    {% if msitem.author %}
      (<span class="sermon-author">{{msitem.author.name}}</span>)
    {% elif msitem.nickname %}
      (<span class="sermon-nickname">{{msitem.nickname.name}}</span>)
    {% else %}
      (<i>no author</i>)
    {% endif %}
    {% if msitem.incipit %}<i>{{msitem.incipit}}</i>{% endif %}
    {% if msitem.incipit or msitem.explicit %}...-...{% endif %}
    {% if msitem.explicit %}<i>{{msitem.explicit}}</i>{% endif %}
    {% if msitem.note %}(Note: {{msitem.note}}){% endif %}
