{% load i18n %}

<!-- Sermon information -->
<form>
  {% csrf_token %}
    <table>
      <tr>
        <td colspan="2"  class="srm editable table">
          <!-- Provide the necessary buttons: edit, cancel and save -->
          <a mode="edit" class="view-mode btn btn-xs jumbo-1 hidden">
            <span class="glyphicon glyphicon-pencil" title="Edit these data"></span>
          </a>
          <a mode="cancel" class="edit-mode btn btn-xs jumbo-2">
            <span class="glyphicon glyphicon-arrow-left" title="Cancel (do *NOT* save)"></span>
          </a>
          <a mode="save" class="edit-mode btn btn-xs jumbo-1" targetid="sermon_edit"
             targeturl="{% if sermoForm.instance.id %}{% url 'sermon_view' sermoForm.instance.id %}{% else %}{% url 'sermon_view' %}{% endif %}" >
            <span class="glyphicon glyphicon-save" title="Save these data"></span>
          </a>

          <!-- The sermon's number (if known) -->
          <span id="sermon_number"></span>

          <!-- Waiting symbol-->
          <span class="waiting glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>

          <!-- Little error message room -->
          <span id="sermon_err_msg" class="err-msg"></span>

          <!-- Put the delete button completely to the right-->
          <a mode="delete" class="edit-mode btn btn-xs jumbo-3 pull-right" targetid="sermon_edit"
             targeturl="{% if sermoForm.instance.id %}{% url 'sermon_view' sermoForm.instance.id %}{% endif %}" >
            <span class="glyphicon glyphicon-remove" title="Delete this sermon"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td class="hoverable" style="min-width: 150px;">Locus</td>
        <td  style="width: 100%;">{{sermoForm.locus}}</td>
      </tr>
      <tr>
        <td class="hoverable">Author (gold standard)</td>
        <td>
          <div class="author-key hidden">{{sermoForm.author}}</div>
          <div>{{sermoForm.authorname}}</div>
        </td>
      </tr>
      <tr>
        <td class="hoverable">Author (if not above)</td>
        <td>
          <div class="nickname-key hidden">{{sermoForm.nickname}}</div>
          <div>{{sermoForm.nickname_ta}}</div>
        </td>
      </tr>
      <tr>
        <td class="hoverable">Title</td>
        <td >{{sermoForm.title}}</td>
      </tr>
      <tr>
        <td class="hoverable">Incipit</td>
        <td >{{sermoForm.incipit}}</td>
      </tr>
      <tr>
        <td class="hoverable">Explicit</td>
        <td >{{sermoForm.explicit}}</td>
      </tr>
      <tr>
        <td class="hoverable">Clavis</td>
        <td >{{sermoForm.clavis}}</td>
      </tr>
      <tr>
        <td class="hoverable">Gryson</td>
        <td >{{sermoForm.gryson}}</td>
      </tr>
      <tr>
        <td class="hoverable">Feast</td>
        <td >{{sermoForm.feast}}</td>
      </tr>
      <tr>
        <td class="hoverable">Keyword</td>
        <td >{{sermoForm.keyword}}</td>
      </tr>
      <tr>
        <td class="hoverable">Note</td>
        <td >{{sermoForm.note}}</td>
      </tr>
    </table>
</form>
