{% load i18n %}

<div id="gftxt_formset" >
  <form action="">
    {% csrf_token %}
    <!-- Need to have the management stuff for 'gedi' -->
    {{ gftxt_formset.management_form }}

    <div class="">
      {% if not is_passim_editor and gedit_formset|length == 0 %}
        <p>No full-text links defined for this gold sermon</p>
      {% else %}
      <!-- Table of critical full text links for the current gold sermon -->
        <table class="func-view" style="width: 100%;">
          <thead>
            <tr><th colspan="2">#</th><th class="tdnowrap">Full text link</th><th>&nbsp;</th></tr>
          </thead>
          <tbody>
            {% for ftxtform in gftxt_formset %}
              {% if ftxtform.instance.editype == item.type %}
                <tr class="form-row">
                  <!-- A 1-based counter for the forms in this set-->
                  <td style="min-width: 20px;"><span>{{forloop.counter}}</span></td>

                  <!-- Hidden but essential: the id of this full text link -->
                  <td class="hidden">{{ftxtform.id}}</td>

                  <!-- A button to edit or save this link -->
                  <td valign="top" class="clickable"  style="min-width: 20px;">
                    {% if is_passim_editor %}
                      <div class="view-mode">
                        <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit');" title="Edit this full text link">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </div>
                      <div class="edit-mode hidden">
                        <a title="Save changes to this full text link"
                            onclick="ru.passim.seeker.formset_update(this);"
                            targetid="sermongold_ftxtset"
                            targeturl="{% url 'gold_ftxtset' pk=object_id %}">
                          <span class="glyphicon glyphicon-ok"></span>
                        </a>
                      </div>
                    {% endif %}
                  </td>

                  <!-- The full text link -->
                  <td  style="width: 100%;">
                    <div class="view-mode">{{ftxtform.url.value}}</div>
                    <div class="edit-mode hidden">{{ftxtform.url}}</div>

                    <!-- Confirmation of delete -->
                    {% if is_passim_editor %}
                      <div class="delete-confirm hidden">
                        <span>Do you really want to delete this full-text URL?</span>
                        <span>
                          <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                        </span>
                        <span class="hidden">{{ftxtform.DELETE}}</span>
                        <span>
                          <a class="btn btn-xs jumbo-4" 
                              onclick="ru.passim.seeker.formset_update(this, 'delete');"
                              targetid="sermongold_ftxtset"
                              targeturl="{% url 'gold_ftxtset' pk=object_id %}">Delete</a>
                        </span>
                      </div>
                    {% endif %}
                  </td>

                  <!-- The gold target -->
                  <td class="hidden">
                    <input id="id_gedi-{{forloop.counter0}}-gold" name="gedi-{{forloop.counter0}}-gold" value="{{ftxtform.instance.gold.id}}" />
                  </td>

                  <!-- A delete button -->
                  <td title="Delete this full text link" style="vertical-align: middle; width: 20px; " class="clickable">
                    {% if is_passim_editor %}
                      <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}

            {% endfor %}

            {% if is_passim_editor %}
              <!-- Empty row with specifications -->
              <tr class="form-row empty-form">
                <!-- A 1-based counter for the forms in this set-->
                <td style="min-width: 20px;"><span>__counter__</span></td>

                <!-- A button to edit or save this full text link -->
                <td valign="top" class="clickable hightlighted"  style="min-width: 20px;">
                  <div class="view-mode hidden">
                    <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit');" title="Edit this full text link">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </div>
                  <div class="edit-mode">
                    <a title="Save changes to this full text link"
                        onclick="ru.passim.seeker.formset_update(this);"
                        targetid="sermongold_ftxtset"
                        targeturl="{% url 'gold_ftxtset' pk=object_id %}">
                      <span class="glyphicon glyphicon-ok"></span>
                    </a>
                  </div>
                </td>

                <!-- The full text link -->
                <td  style="width: 100%;">
                  <div class="view-mode hidden">{{gftxt_formset.empty_form.url.value}}</div>
                  <div class="edit-mode">{{gftxt_formset.empty_form.url}}</div>
                  <!-- Confirmation of delete -->
                  <div class="delete-confirm hidden">
                    <span>Do you really want to delete this full-text URL?</span>
                    <span>
                      <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                    </span>
                    <span>
                      <a class="btn btn-xs jumbo-4 delete-row" extra="gftxt">Delete</a>
                    </span>
                  </div>
                </td>

                <!-- The gold target -->
                <td class="hidden" defaultvalue="{{object_id}}">
                  <input id="id_gedi-__counter__-gold" name="gedi-__counter__-gold"  />
                </td>

                <!-- A delete button -->
                <td title="Delete this full text link" style="vertical-align: middle; width: 20px; " class="clickable">
                  <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                </td>
              </tr>

              <!-- Add row -->
              <tr class="add-row">
                <td colspan="5">
                  <span id="add_gold_full text link">
                    <a href="#" title="Add an full text link to this gold sermon"><span class="glyphicon glyphicon-plus">&nbsp;</span>Full text link</a>
                  </span>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      {% endif %}
    </div>

    <div id="error_location"></div>
  </form>
</div>
