{% load i18n %}

    {% if msitem.goldsignatures.all|length > 0 %}
      <span class="signature">{{msitem.signatures}}</span>
    {% else %}
      [-]
    {% endif %}
    {% if msitem.author %}
      (by <span class="sermon-author">{{msitem.author.name}}</span>)
    {% else %}
      (by <i>Unknown Author</i>)
    {% endif %}
    {% if msitem.incipit %}<i>{{msitem.incipit}}</i>{% endif %}
    {% if msitem.incipit or msitem.explicit %}...-...{% endif %}
    {% if msitem.explicit %}<i>{{msitem.explicit}}</i>{% endif %}
