{% load i18n %}

{% block scripts %}
  {{goldForm.media.css}}
{% endblock %}


<!-- SermonGold information -->
<form>
  {% csrf_token %}
    <table style="width: 100%;">
      <tr>
        <td colspan="2"  class="ms editable table">
          <!-- Provide the necessary buttons: edit, cancel and save -->
          {% if is_passim_editor %}
          <a mode="edit" class="view-mode btn btn-xs jumbo-1">
            <span class="glyphicon glyphicon-pencil" title="Edit these data"></span>
          </a>
          {% endif %}

          <a mode="cancel" class="edit-mode btn btn-xs jumbo-2 hidden">
            <span class="glyphicon glyphicon-arrow-left" title="Cancel (do *NOT* save)"></span>
          </a>

          {% if is_passim_editor %}
          <a mode="save" class="edit-mode btn btn-xs jumbo-1 hidden" 
             targetid=""
             targeturl="{% if goldForm.instance.id %}{% url 'gold_edit' goldForm.instance.id %}{% else %}{% url 'gold_edit' %}{% endif %}" >
            <span class="glyphicon glyphicon-ok" title="Save these data">&nbsp;Save</span>
          </a>
          {% endif %}

          <!-- Waiting symbol-->
          <span class="waiting glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>

          <!-- Little error message room -->
          <span id="gold_err_msg" class="err-msg"></span>

          {% if is_passim_editor %}
          <!-- Put the delete button completely to the right-->
          <a mode="delete" class="edit-mode btn btn-xs jumbo-3 pull-right hidden" 
             targetid="" oldtargetid="sermon_edit"
             targeturl="{% if goldForm.instance.id %}{% url 'gold_edit' goldForm.instance.id %}{% endif %}">
            <span class="glyphicon glyphicon-remove" title="Delete this gold sermon"></span>
          </a>
          {% endif %}
        </td>
      </tr>

      <!-- This field is *NOT* shown for a 'new' gold-sermon, because it needs to be automatically set to 'manual' -->
      <tr class="edit-notnew">
        <td valign="top">Status</td>
        <td class="sermon-status" align="left">
          <div class="view-mode">{{goldForm.instance.get_stype_display}}</div>
          {% if is_passim_editor %}
            <div class="edit-mode hidden">{{goldForm.stype}}</div>
          {% endif %}
        </td>
      </tr>

      <!-- Room for the standard fields -->
      <!-- Author (provided it is found in the gold standard) -->
      <tr>
        <td class="hoverable" style="min-width: 150px;">Attributed author</td>
        <td style="width: 100%">
          <div class="author-key hidden">{{goldForm.author}}</div>
          <div class="edit-mode hidden">{{goldForm.authorname}}</div>
          <div class="view-mode">{{goldForm.instance.author.name}}</div>
        </td>
      </tr>

      <!-- Incipit -->
      <tr>
        <td class="hoverable">Incipit</td>
        <td>
          <div class="edit-mode hidden">{{goldForm.incipit}}</div>
          <div class="view-mode">{{goldForm.instance.get_incipit_markdown|safe}}</div>
        </td>
      </tr>

      <!-- Explicit -->
      <tr>
        <td class="hoverable">Explicit</td>
        <td>
          <div class="edit-mode hidden">{{goldForm.explicit}}</div>
          <div class="view-mode">{{goldForm.instance.get_explicit_markdown|safe}}</div>
        </td>
      </tr>

      <!-- Signatures (Gryson/Clavis) - ONLY shown for new items -->
      <tr class="edit-new hidden">
        <td class="hoverable" title="List all Gryson and Clavis numbers (CPPM or CPL-preceded) separated by semicolons">Gryson/Clavis</td>
        <td>
          <div class="edit-mode hidden">{{goldForm.signature}}</div>
          <div class="view-mode">{{goldForm.instance.signatures}}</div>
        </td>
      </tr>

      <!-- Bibliography -->
      <tr>
        <td class="hoverable" valign="top">Bibliography</td>
        <td valign="top">
          <div class="edit-mode hidden">{{goldForm.bibliography}}</div>
          <div class="view-mode">{{goldForm.instance.get_bibliography_markdown|safe}}</div>
        </td>
      </tr>

      <!-- Keywords (using select2) -->
      <tr class="">
        <td valign="top" class="tdnowrap">
          <span>Keywords</span>
          <span>
            <a class="edit-mode hidden btn" onclick="ru.passim.seeker.add_new_select2(this);">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </span>
        </td>
        <td class="manuscript-format" align="left">
          <div class="view-mode">
            {% if goldForm.instance.keywords.count > 0 %}
              {% for kw in goldForm.instance.keywords.all|dictsort:"name" %}
                <span class="keyword"><a href="{% url 'search_gold' %}?gold-keyword={{kw.name}}">{{kw.name}}</a></span>
              {% endfor %}
            {% else %}-{% endif %}
          </div>
          <div class="edit-mode hidden">{{goldForm.kwlist}}</div>
          {% if is_passim_editor %}
            <div class="new-mode hidden">
              {% include 'seeker/table_new.html' with thisform=kwForm %}
            </div>
          {% endif %}
        </td>
      </tr>

      <!-- Signatures (using select2) -->
      <tr class="">
        <td valign="top" class="tdnowrap">
          <span>Gryson/Clavis codes</span>
          <span>
            <a class="edit-mode hidden btn" onclick="ru.passim.seeker.add_new_select2(this);">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </span>
        </td>
        <td class="manuscript-format" align="left">
          <div class="view-mode">
            <!-- Gryson -->
            {% if goldForm.instance.goldsignatures.count > 0 %}
              {% for sig in goldForm.instance.signatures_ordered %}
                <span class="badge signature {{sig.editype}}">
                  <a href="{% url 'search_gold' %}?gold-siglist={{sig.id}}">{{sig.code}}</a>
                </span>
              {% endfor %}
            {% else %}-{% endif %}
          </div>
          <div class="edit-mode hidden">{{goldForm.siglist}}</div>
          {% if is_passim_editor %}
            <div class="new-mode hidden">
              {% include 'seeker/table_new.html' with thisform=sigForm %}
            </div>
          {% endif %}
        </td>
      </tr>

    </table>
</form>


{% block endcontent %} 
  {{goldForm.media.js }} 
{% endblock %}
