{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'home' %}">Home</a>
    &rsaquo; <a href="{% url 'search_gold' %}">Gold-Sermon List</a>
    &rsaquo; Gold-Sermon Details
  </div>
{% endblock %}

{% block content %}
  <div>

    {% if authenticated %}
      <!-- Upper part of the gold-sermon details interface -->
      <div class="panel panel-default gold-head subform">
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="col-md-1">
            <a class="btn jumbo-1" 
               href="{% url 'search_gold' %}"
               title="Back to the list of gold sermons">&lt;&lt;</a>
          </div>
          <div class="col-md-10">

            <h3>Gold sermon details</h3>

            <!-- SermonGold information -->
            <form>
              {% csrf_token %}
                <table style="width: 100%;">
                  <tr>
                    <td colspan="2"  class="ms editable table">
                      <!-- Provide the necessary buttons: edit, cancel and save -->
                      {% if is_passim_editor %}
                      <a mode="edit" class="view-mode btn btn-xs jumbo-1">
                        <span class="glyphicon glyphicon-pencil" title="Edit these data"></span>
                      </a>
                      {% endif %}

                      <a mode="cancel" class="edit-mode btn btn-xs jumbo-2 hidden">
                        <span class="glyphicon glyphicon-arrow-left" title="Cancel (do *NOT* save)"></span>
                      </a>

                      {% if is_passim_editor %}
                      <a mode="save" class="edit-mode btn btn-xs jumbo-1 hidden" targetid=""
                         targeturl="{% if goldForm.instance.id %}{% url 'gold_details' goldForm.instance.id %}{% else %}{% url 'gold_details' %}{% endif %}" >
                        <span class="glyphicon glyphicon-ok" title="Save these data">&nbsp;Save</span>
                      </a>
                      {% endif %}

                      <!-- Waiting symbol-->
                      <span class="waiting glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>

                      <!-- Little error message room -->
                      <span id="gold_err_msg" class="err-msg"></span>

                      {% if is_passim_editor %}
                      <!-- Put the delete button completely to the right-->
                      <a mode="delete" class="view-mode btn btn-xs jumbo-3 pull-right" targetid="sermon_edit"
                         targeturl="{% if goldForm.instance.id %}{% url 'gold_details' goldForm.instance.id %}{% endif %}">
                        <span class="glyphicon glyphicon-remove" title="Delete this sermon"></span>
                      </a>
                      {% endif %}
                    </td>
                  </tr>

                  <!-- Room for the standard fields -->
                  <tr>
                    <td class="hoverable" style="min-width: 150px;">Signature</td>
                    <td style="width: 100%">
                      <div class="edit-mode hidden">{{goldForm.signature}}</div>
                      <div class="view-mode">{{goldForm.signature.value}}</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="hoverable">Author (gold standard)</td>
                    <td>
                      <div class="author-key hidden">{{goldForm.author}}</div>
                      <div class="edit-mode hidden">{{goldForm.authorname}}</div>
                      <div class="view-mode">{{goldForm.instance.author.name}}</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="hoverable">Incipit</td>
                    <td>
                      <div class="edit-mode hidden">{{goldForm.incipit}}</div>
                      <div class="view-mode">{{goldForm.incipit.value}}</div>
                    </td>
                  </tr>
                  <tr>
                    <td class="hoverable">Explicit</td>
                    <td>
                      <div class="edit-mode hidden">{{goldForm.explicit}}</div>
                      <div class="view-mode">{{goldForm.explicit.value}}</div>
                    </td>
                  </tr>

                </table>
            </form>

            <!-- Room for viewing (and adding) links to existing other SermonGold instances: FORMSET?? -->
            {% if goldForm.instance.id %}
              <div id="sermongold-links-{{goldForm.instance.id}}">
                <!--
                <h4>
                  <span>Links:</span>
                  <span id="add_gold_link" class="pull-right">
                    <a class="btn btn-xs jumbo-3" role="button" 
                        manutype="goldnew"
                        targetid="plain-edit-goldlink-{{goldForm.instance.id}}"
                        targeturl="{% url 'goldlink_view' %}"
                        onclick="ru.passim.seeker.manu_edit(this, 'new', {'src': {{goldForm.instance.id}} });">
                      <span class="glyphicon glyphicon-plus"></span>Add a link from this gold sermon to another one
                    </a>
                  </span>
                </h4>
                  -->


                <!-- This is where the goldsermon link that is currently being edited shows up -->
                <div class="row goldlink hidden subform">
                  <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default" id="plain-edit-goldlink-{{goldForm.instance.id}}">
                      <!-- This is where the current gold-to-gold link shows up -->
                    </div>
                  </div>
                </div>

                <!-- Modal attempt -->
                <div id="modal-goldlink-{{goldForm.instance.id}}" class="modal fade goldlink subform" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content -->
                    <div class="modal-content">
                      <!-- introduction header -->
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Set the link type and select the gold sermon to link to</h4>
                      </div>

                      <!-- Body of the modal-->
                      <div class="modal-body" id="edit-goldlink-{{goldForm.instance.id}}">
                        <!-- This is where the current gold-to-gold link shows up -->
                      </div>

                      <!-- Footer with the save button -->
                      <div class="modal-footer">
                        {% if is_passim_editor %}
                          <a mode="save"
                             class="btn jumbo-1" 
                             data-dismiss="modal"
                             targeturl="{% if goldForm.instance.id %}{% url 'gold_details' goldForm.instance.id %}{% else %}{% url 'gold_details' %}{% endif %}"
                             targetid="gold-sermon-{{goldForm.instance.id}}"
                             onclick="ru.passim.seeker.manu_edit(this, 'view');">
                            <span class="glyphicon glyphicon-ok" title="Save these data">&nbsp;Save</span>
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                {% if relations|length == 0 %}
                  <i>(There are no links from this sermongold)</i>
                {% else %}
                  <div id="glink_formset">
                    <form action="">
                      {% csrf_token %}
                      <!-- Need to have the management stuff for 'glink' -->
                      {{ glink_formset.management_form }}

                      <table class="func-view" style="width: 100%;">
                        <thead>
                          <tr><th colspan="2">#</th><th class="tdnowrap">Link type</th><th>Target golden sermon</th><th>&nbsp;</th></tr>
                        </thead>
                        <tbody>
                          {% for linkform in glink_formset %}
                            <tr class="form-row">
                              <td style="min-width: 20px;"><span>{{forloop.counter}}</span></td>
                              <td valign="top" class="clickable"  style="min-width: 20px;">
                                <div class="view-mode">
                                  <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit');" title="Edit this link">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                  </a>
                                </div>
                                <div class="edit-mode hidden">
                                  <a onclick="ru.passim.seeker.gold_row_edit(this, 'view');" title="Save changes to this link">
                                    <span class="glyphicon glyphicon-ok"></span>
                                  </a>
                                </div>
                              </td>
                              <td  style="min-width: 100px;">
                                <div class="view-mode">{{linkform.instance.get_linktype_display}}</div>
                                <div class="edit-mode hidden"> 
                                  {{linkform.linktype}}
                                </div>
                              </td>
                              <td style="width: 100%;">
                                <div class="hidden"><input id="id_glink-{{forloop.counter0}}-dst" name="glink-{{forloop.counter0}}-dst" value="{{linkform.instance.dst.id}}" /></div>
                                <div class="view-mode">
                                  {% include 'seeker/sermongold_view.html' with msitem=linkform.instance.dst %}
                                </div>
                                <div class="edit-mode hidden selected" 
                                      targetid="sermongold_select_{{linkform.src.value}}">
                                  {% include 'seeker/sermongold_view.html' with msitem=linkform.instance.dst %}
                                </div>
                              </td>
                              <td title="Delete this link" style="vertical-align: middle; width: 20px; " class="clickable">
                                <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                              </td>
                            </tr>

                            <!-- Row to confirm deletion -->
                            <tr class="delete-confirm hidden">
                              <td style="min-width: 20px;">&nbsp;</td>
                              <td style="min-width: 20px;">&nbsp;</td>
                              <td colspan="2" style="width: 100%;" class="selected">
                                Do you really want to remove this gold sermon? (All links to and from this gold sermon will also be removed)
                                <span><a onclick="ru.passim.seeker.delete_cancel(this);" class="btn btn-xs jumbo-1" extra="glink" counter="">Cancel</a></span>
                                <span>
                                  <a href="#" class="btn btn-xs jumbo-4 delete-row" 
                                     extra="glink" counter="" targeturl="{% url 'goldlink_view' linkform.instance.id %}">Delete</a>
                                </span>
                              </td>
                              <td>&nbsp;</td>
                            </tr>

                          {% endfor %}

                          <!-- Empty row with specifications -->
                          <tr class="form-row empty-form">
                            <td colspan="5"></td>
                          </tr>

                          <!-- Add row -->
                          <tr class="add-row">
                            <td colspan="5">
                              <span id="add_gold_link">
                                <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add a link from this gold sermon to another one</a>
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>

                {% endif %}

              </div>
            {% endif %}

          </div>
        </div>
        <div class="row">&nbsp;</div>

      </div>

    
    {% else %}
      <div class="explanation">
        <p>Dear user, you are <b>not</b> logged in.</p>
        <p>Unfortunately this means that you will not be able to perform any searches.</p>
        <p>Should you want to work with Passim, here are your options:
          <ul>
            <li><a class="btn btn-info btn-xs" href="{% url 'login' %}">Login</a> - if you already have an account</li> 
            <li><a class="btn btn-warning btn-xs" href="{% url 'signup' %}">Sign up</a> - if you don't have an account yet</li>
          </ul>
        </p>
      </div>
    {% endif %}
    
  </div>


<script>
  ru.passim.seeker.init_events();
</script>

{% endblock content %}
