{% extends "layout.html" %}
{% load i18n %}

{% block scripts %}
  {{sermoForm.media.css}}
{% endblock %}

{% block breadcrumbs %}
  {% include 'breadcrumb_list.html' %}
{% endblock %}

{% block content %}

  <div>

    {% if authenticated %}
      <!-- Upper part of the sermon list interface -->

      <div id="sermons_top" >

        <!-- Allow access to interface parts that are normally hidden -->
        <div  class="panel panel-none">

          <div class="row">
            <div class="col-md-2 col-md-offset-10 text-right">
              <span class="">
                <a class="btn btn-xs jumbo-4" data-toggle="collapse" data-target="#tab_filter" role="button" title="Define your filter(s)...">
                  <span class="glyphicon glyphicon-filter"></span>
                </a>
              </span>
            </div>
          </div>
        </div>

        <!-- The form spans the list + pagination information -->
        <form id="sermon_search" method='post' action="{% url 'sermon_list' %}" >
          {% csrf_token %}
          <!-- entrypoint for search_paged_start -->
          <div class="hidden search_paged_start">
            <input name="page" type="text" />
          </div>

          <!-- Filter tab -->
          <div class="inert {% if has_filter %}in{% else %}collapse{% endif %}" id="tab_filter">
            <div class="panel panel-default">
              <!-- Filter interface -->
              <div class="row" id="filter_badges">
                <div class="col-md-12">
                  <h4>
                    <span>Selected filters</span>
                    {% for filter in filters %}
                      <span class="badge filter {% if filter.enabled %} jumbo-3 on {% else %} jumbo-1 {% endif %} " targetid="{{filter.id}}" >{{filter.name}}</span>
                    {% endfor %}
                  </h4>
                </div>
              </div>
              
              <div class="row">
                <!-- The column with the different filter sections -->
                <div class="col-sm-10 col-sm-offset-1">
                  <!-- One or more authors -->
                  <div id="filter_author" class="{% if not sermoForm.authorname.value and not sermoForm.authorlist.value %}hidden{% endif %}">
                    <table style="width: 100%;">
                      <tr class="form-row">
                        <td style="min-width: 130px;" valign="top">Author</td>
                        <td style="width: 100%;">
                          <span>{{sermoForm.authorname}}</span>
                          <span> or select: </span>
                          <span>{{sermoForm.authorlist}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <!-- One or more incipits -->
                  <div id="filter_incipit" class="{% if not sermoForm.incipit.value %}hidden{% endif %}">
                    <table style="width: 100%;">
                      <tr class="form-row"><td style="min-width: 130px;">Incipit</td><td style="width: 100%;">{{sermoForm.incipit}}</td></tr>
                    </table>
                  </div>

                  <!-- One or more explicits -->
                  <div id="filter_explicit" class="{% if not sermoForm.explicit.value %}hidden{% endif %}">
                    <table style="width: 100%;">
                      <tr class="form-row"><td style="min-width: 130px;">Explicit</td><td style="width: 100%;">{{sermoForm.explicit}}</td></tr>
                    </table>
                  </div>

                  <!-- One or more titles -->
                  <div id="filter_title" class="{% if not sermoForm.title.value %}hidden{% endif %}">
                    <table style="width: 100%;">
                      <tr class="form-row"><td style="min-width: 130px;">Title</td><td style="width: 100%;">{{sermoForm.title}}</td></tr>
                    </table>
                  </div>

                  <!-- One or more signatures -->
                  <div id="filter_signature" class="{% if not sermoForm.signature.value and not sermoForm.siglist.value %}hidden{% endif %}">
                    <table style="width: 100%;">
                      <tr class="form-row">
                        <td style="min-width: 130px;" valign="top">Gryson or Clavis:</td>
                        <td style="width: 100%;">
                          <span style="min-width: 100px;">{{sermoForm.signature}}</span>
                          <span> or select: </span>
                          <span>{{sermoForm.siglist}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <!-- One or more feasts -->
                  <div id="filter_feast" class="{% if not sermoForm.feast.value %}hidden{% endif %}">
                    <table style="width: 100%;">
                      <tr class="form-row"><td style="min-width: 130px;">Feast</td><td style="width: 100%;">{{sermoForm.feast}}</td></tr>
                    </table>
                  </div>

                  <!-- One or more keywords -->
                  <div id="filter_keyword" class="{% if not sermoForm.keyword.value %}hidden{% endif %}">
                    <table style="width: 100%;">
                      <tr class="form-row"><td style="min-width: 130px;">Keyword</td><td style="width: 100%;">{{sermoForm.keyword}}</td></tr>
                    </table>
                  </div>

                  <!-- One or more manuids -->
                  <div id="filter_manuid" class="{% if not sermoForm.manuidno.value and  not sermoForm.manuidlist.value %}hidden{% endif %}">
                    <table style="width: 100%;">
                      <tr class="form-row">
                        <td style="min-width: 130px;" valign="top">Manuscript</td>
                        <td style="width: 100%;">
                          <span>{{sermoForm.manuidno}}</span>
                          <span> or select: </span>
                          <span>{{sermoForm.manuidlist}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

              </div>

              <!-- Row with buttons-->
              <div class="row">
                <div class="col-md-2 col-md-offset-10 text-right">
                  <!-- Room to reset the search criteria -->
                  <span>
                    <a role="button" class="btn btn-sm jumbo-1" title="Clear search criteria" onclick="ru.passim.seeker.search_clear(this);" >Clear</a>
                  </span>
                  <!-- Submit the search form -->
                  <span>
                    <a role="button" class="btn btn-sm jumbo-3" title="Start searching..." onclick="ru.passim.seeker.search_start(this);" >Search</a>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </form>

        <!-- New filter interface -->
        <form id="sermon_filter" method="post" action="{% url 'sermon_list' %}">

        </form>

        <!-- List tab -->
        <div class="" id="tab_list">
          <div class="panel panel-default">
            <form>
              <h3>
                <span>Sermons</span>
              </h3>
            </form>

            {% if object_list %}
              <!-- Top pagination -->
              <div class="row">
                  <div class="col-sm-4"><span>Total: </span><span>{{entrycount}}</span></div>
                  <div class="col-sm-8">
                  <span class="step-links pull-right">

                  {% include 'paginationpost.html' %}

                  </span>
                  </div>
              </div>

              <!-- Table that contains a list of sermons -->
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="hidden">id</th>
                        {% for hd in order_heads %}
                          <th class="sortable" scope="col">
                            <div class="text">
                              {% if hd.order == "" %}{{hd.name}}
                              {% else %}
                              <a href=?{{hd.order}}>{{hd.name}}</a>
                              {% endif %}
                            </div>
                          </th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                    {% for sermon in object_list %}
                      {% if sermon.manu %}
                      <tr class="dict-entry clickable"
                          onclick="ru.passim.seeker.goto_url('{% url 'sermon_details' sermon.id %}')">
                        <td class="hidden"> {{ sermon.id }}</td>
                        <!-- Author / Signature / Incipit -->
                        <td class="sermon-author tdnowrap" align="left" 
                            title="{% if sermon.author %}{{sermon.author.name}}
                                   {% elif sermon.nickname %}{{sermon.nickname.name}}
                                   {% else %}(unknown){% endif %}">
                          {% if sermon.author %}
                            <span style="color: darkgreen;">{{sermon.author.name|truncatechars:12}}</span>
                          {% elif sermon.nickname %}
                            <span style="font-size:x-small; color: darkred;">{{sermon.nickname.name|truncatechars:12}}</span>
                          {% else %}
                            <span><i>(unknown)</i></span>
                          {% endif %}
                        </td>
                        <td class="sermon-signature tdnowrap" align="left" title="{{sermon.signatures}}">
                          <span>{{sermon.signatures|truncatechars:20}}</span>
                        </td>
                        <td style="width: 100%;">
                          <span>{{sermon.get_incipit_markdown|safe}}</span>
                          <span style="color: blue;">{% if sermon.incipit %}...{% endif %}</span>
                          <span>{{sermon.get_explicit_markdown|safe}}</span>
                        </td>

                        <!-- Manuscript in which this sermon is situated -->
                        <td class="sermon-manuscript tdnowrap clickable" style="min-width: 100px;" align="left" title="{{sermon.manu.idno}}" >
                          <a href="{% url 'manuscript_details' sermon.manu.id %}" class="nostyle">
                            <span>{{sermon.manu.idno|truncatechars:20}}</span>
                          </a>
                        </td>
                        
                        <!-- Locus in manuscript -->
                        <td class="sermon-locus tdnowrap">
                          <span>{{sermon.locus}}</span>
                        </td>

                        <!-- Give an overview of the links *from* this sermon to others -->
                        <td class="tdnowrap">
                          {% for link_def in sermon.link_oview %}
                            {% if link_def.count > 0 %}
                            <span class="badge {{link_def.class}}" title="{{link_def.title}}">{{link_def.count}}</span>
                            {% endif %}
                          {% endfor %}
                        </td>

                        <!-- Show the status of this item -->
                        <td class="tdnowrap"><span class="badge" title="{{sermon.get_stype_display}}">{{sermon.stype|slice:":1"}}</span></td>
                      </tr>
                      {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- Bottom pagination -->
              <div class="pagination">
                  <span class="step-links">

                  {% include 'paginationpost.html' %}

                  </span>
              </div>

            {% else %}
              <p>No sermons have been found.</p>
            {% endif %}

            </div>

        </div>

      </div>

    
    {% else %}
      <div class="explanation">
        <p>Dear user, you are <b>not</b> logged in.</p>
        <p>Unfortunately this means that you will not be able to perform any searches.</p>
        <p>Should you want to work with Passim, here are your options:
          <ul>
            <li><a class="btn btn-info btn-xs" href="{% url 'login' %}">Login</a> - if you already have an account</li> 
            <li><a class="btn btn-warning btn-xs" href="{% url 'signup' %}">Sign up</a> - if you don't have an account yet</li>
          </ul>
        </p>
      </div>
    {% endif %}
    
  </div>

<script>
  ru.passim.seeker.init_events();
</script>

{% endblock content %}

{% block endcontent %} 
  {{sermoForm.media.js }} 
{% endblock %}
