{% load i18n %}

<div id="stog_formset" class="row">
  <form action="">
    {% csrf_token %}
    <!-- Need to have the management stuff for 'stog' -->
    {{ stog_formset.management_form }}

    <div class="col-md-12">
      {% if not is_passim_editor and stog_formset|length == 0 %}
        <p>No links to gold sermons defined for this sermon</p>
      {% else %}
        <table class="func-view" style="width: 100%;">
          <thead>
            <tr><th colspan="2">#</th><th class="tdnowrap">Link type</th><th>Target gold sermon</th><th>&nbsp;</th></tr>
          </thead>
          <tbody>
            {% for linkform in stog_formset %}
              <tr class="form-row">
                <!-- A 1-based counter for the forms in this set-->
                <td style="min-width: 20px;"><span>{{forloop.counter}}</span></td>

                <!-- Hidden but essential: the id of this sermon-to-gold link -->
                <td class="hidden">{{linkform.id}}</td>

                <!-- A button to edit or save this link -->
                <td valign="top" class="clickable"  style="min-width: 20px;">
                  {% if is_passim_editor %}
                    <div class="view-mode">
                      <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit');" title="Edit this link">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </div>
                    <div class="edit-mode hidden">
                      <a title="Save changes to this link"
                         onclick="ru.passim.seeker.formset_update(this);"
                         targetid="sermon_linkset"
                         targeturl="{% url 'sermon_linkset' pk=object_id %}">
                        <span class="glyphicon glyphicon-ok"></span>
                      </a>
                    </div>
                  {% endif %}
                </td>

                <!-- The linktype -->
                <td  style="min-width: 100px;">
                  <div class="view-mode">{{linkform.instance.get_linktype_display}}</div>
                  <div class="edit-mode hidden">{{linkform.linktype}}</div>
                </td>

                <!-- The contents of the destination gold sermon -->
                <td style="width: 100%;">
                  <div class="hidden"><input id="id_stog-{{forloop.counter0}}-gold" name="stog-{{forloop.counter0}}-gold" value="{{linkform.instance.gold.id}}" /></div>
                  <div class="view-mode">
                    <span>
                      <a class="btn btn-xs jumbo-1" 
                         OUD_targeturl="{% url 'get_gold' linkform.instance.gold.id %}"
                         OUD_onclick="ru.passim.seeker.base_sermon(this, 'edit');" 

                         href="{% url 'sermon_details' object_id %}?goldcopy={{linkform.instance.gold.id}}"

                         title="Copy Gold Sermon information to this Sermon (incipit, explicit, Gryson, Clavis, editions etc)">
                        <span class="glyphicon glyphicon-share-alt"></span>
                      </a>
                    </span>
                    <span>
                      <a href="{% url 'gold_details' linkform.instance.gold.id %}" target="_blank">
                        {% include 'seeker/sermon_view.html' with msitem=linkform.instance.gold %}
                      </a>
                    </span>
                  </div>
                  <div class="edit-mode hidden selected clickable"
                       data-toggle="modal" 
                       data-target="#modal-goldlink-{{object_id}}"
                       onclick="ru.passim.seeker.gold_search_prepare(this);"
                       targeturl="{% if object_id %}{% url 'select_gold' %}?source_id={{object_id}}{% else %}{% url 'select_gold' %}{% endif %}"
                       targetid="edit-goldlink-{{object_id}}">
                    {% include 'seeker/sermon_view.html' with msitem=linkform.instance.gold %}
                  </div>

                  <!-- Confirmation of delete -->
                  {% if is_passim_editor %}
                    <div class="delete-confirm hidden">
                      <span>Do you really want to delete this link?</span>
                      <span>
                        <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                      </span>
                      <span class="hidden">{{linkform.DELETE}}</span>
                      <span>
                        <a class="btn btn-xs jumbo-4" 
                           onclick="ru.passim.seeker.formset_update(this, 'delete');"
                           targetid="sermon_linkset"
                           targeturl="{% url 'sermon_linkset' pk=object_id %}">Delete</a>
                      </span>
                    </div>
                  {% endif %}
                </td>

                <!-- A delete button -->
                <td title="Delete this link" style="vertical-align: middle; width: 20px; " class="clickable">
                  {% if is_passim_editor %}
                    <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                  {% endif %}
                </td>
              </tr>

            {% endfor %}

            {% if is_passim_editor %}
              <!-- Empty row with specifications -->
              <tr class="form-row empty-form">
                <!-- A 1-based counter for the forms in this set-->
                <td style="min-width: 20px;"><span>__counter__</span></td>

                <!-- A button to edit or save this link -->
                <td valign="top" class="clickable hightlighted"  style="min-width: 20px;">
                  <div class="view-mode hidden">
                    <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit');" title="Edit this link">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </div>
                  <div class="edit-mode">
                    <a title="Save changes to this link"
                        onclick="ru.passim.seeker.formset_update(this);"
                        targetid="sermon_linkset"
                        targeturl="{% url 'sermon_linkset' pk=object_id %}">
                      <span class="glyphicon glyphicon-ok"></span>
                    </a>
                  </div>
                </td>

                <!-- The linktype -->
                <td  style="min-width: 100px;">
                  <div class="view-mode hidden">{{stog_formset.empty_form.instance.get_linktype_display}}</div>
                  <div class="edit-mode">{{stog_formset.empty_form.linktype}}</div>
                </td>

                <!-- The contents of the destination gold sermon -->
                <td style="width: 100%;">
                  <div class="hidden"><input id="id_stog-__counter__-gold" name="stog-__counter__-gold" 
                                              value="{{stog_formset.empty_form.instance.gold.id}}" /></div>
                  <div class="view-mode hidden">
                    {% include 'seeker/sermon_view.html' with msitem=stog_formset.empty_form.instance.dst %}
                  </div>
                  <div class="edit-mode selected clickable" 
                       data-toggle="modal" 
                       data-target="#modal-goldlink-{{object_id}}"
                       onclick="ru.passim.seeker.gold_search_prepare(this);"
                       targeturl="{% if object_id %}{% url 'select_gold' %}?source_id={{object_id}}{% else %}{% url 'select_gold' %}{% endif %}"
                       targetid="edit-goldlink-{{object_id}}">
                    Search and select a gold sermon to link to
                  </div>
                  <!-- Confirmation of delete -->
                  <div class="delete-confirm hidden">
                    <span>Do you really want to delete this link?</span>
                    <span>
                      <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                    </span>
                    <span>
                      <a class="btn btn-xs jumbo-4 delete-row" extra="stog">Delete</a>
                    </span>
                  </div>
                </td>

                <!-- A delete button -->
                <td title="Delete this link" style="vertical-align: middle; width: 20px; " class="clickable">
                  <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                </td>
              </tr>

              <!-- Add row -->
              <tr class="add-row">
                <td colspan="5">
                  <span id="add_gold_link">
                    <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add a link from this sermon to a gold sermon</a>
                  </span>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      {% endif %}

      <div id="error_location"></div>
    </div>
  </form>
</div>
