{% extends "layout.html" %}

{% block content %}


<div class="container body-content">
  <h3>Synchronisation of Entries</h3>
  <div class="row">
      <div class="col-md-12">This page contains several administrative synchronisation options.</div>
  </div>

  <div class="row"><div>&nbsp;</div></div>

{% if user.is_authenticated %}

  <!-- Synchronizing /entries -->
  <fieldset class="module aligned" style="border: 1px solid darkgray; padding-top: 15px;  padding-bottom: 15px;">
    <div class="row">
      <div class="col-md-4">
        <h3 class="straight" style="margin-top: 0px; margin-left: 10px;">List of libraries</h3>
          <p style="margin-top: 0px; margin-left: 10px;">This updates libraries from the internally stored JSON list.</p>
      </div>
      <div class="col-md-8">
        <form id="sync_form_texts" method="POST">
 

          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="col-md-3">
              <span><a id="sync_start_entries" class="btn btn-primary btn-xs" 
                  sync-start="{% url 'sync_start' %}?synctype=entries" 
                  sync-progress="{% url 'sync_progress' %}?synctype=entries" 
                  onclick="ru.passim.sync_start('entries')">Synchronize the list of library entries</a>
              </span>
            </div>
            <div id="sync_progress_entries" class="col-md-9">
              <!-- This is where the progress will be reported -->
            </div>
          </div>
          <div id="sync_details_entries" class="row"></div>
        </form>
      </div>
    </div>
  </fieldset>

  <div class="row">&nbsp;</div>


{% else %}
  <p>Since you are not logged in, no further processing of /entry information is possible.</p>
{% endif %}

</div>


{% endblock %}
