{% load i18n %}

<div id="srmsign_formset" class="row">
  <form action="">
    {% csrf_token %}
    <!-- Need to have the management stuff for 'srmsign' -->
    {{ srmsign_formset.management_form }}

    {% for item in edi_list %}

      <div class="col-md-4">
        <!-- One table for Gryson, one for Clavis, one for others -->
        <table class="func-view" style="width: 100%;">
          <thead>
            <tr><th colspan="2">#</th><th class="tdnowrap">{{item.name}} code</th><th>&nbsp;</th></tr>
          </thead>
          <tbody>
            {% for signform in srmsign_formset %}
              {% if signform.instance.editype == item.type %}
                <tr class="form-row">
                  <!-- A 1-based counter for the forms in this set-->
                  <td style="min-width: 20px;"><span>{{forloop.counter}}</span></td>

                  <!-- Hidden but essential: the id of this sermonsignature link -->
                  <td class="hidden">{{signform.id}}</td>

                  <!-- A button to edit or save this link -->
                  <td valign="top" class="clickable"  style="min-width: 20px;">
                    {% if is_app_editor %}
                      <div class="view-mode">
                        <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit');" title="Edit this signature">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </div>
                      <div class="edit-mode hidden">
                        <a title="Save changes to this signature"
                            onclick="ru.passim.seeker.formset_update(this);"
                            targetid="sermondescr_signset"
                            targeturl="{% url 'sermon_signset' pk=object_id %}">
                          <span class="glyphicon glyphicon-ok"></span>
                        </a>
                      </div>
                    {% endif %}
                  </td>

                  <!-- The signature -->
                  <td  style="width: 100%;" class="editype-{{item.type}}">
                    <div class="view-mode">{{signform.code.value}}</div>
                    <div class="edit-mode hidden">{{signform.code}}</div>

                    <!-- Confirmation of delete -->
                    {% if is_app_editor %}
                      <div class="delete-confirm hidden">
                        <span>Do you really want to delete this {{item.name}} code?</span>
                        <span>
                          <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                        </span>
                        <span class="hidden">{{signform.DELETE}}</span>
                        <span>
                          <a class="btn btn-xs jumbo-4" 
                             onclick="ru.passim.seeker.formset_update(this, 'delete');"
                             targetid="sermondescr_signset"
                             targeturl="{% url 'sermon_signset' pk=object_id %}">Delete</a>
                        </span>
                      </div>
                    {% endif %}
                  </td>

                  <!-- The editype -->
                  <td  class="hidden">
                    <input id="id_srmsign-{{forloop.counter0}}-editype" name="srmsign-{{forloop.counter0}}-editype" value="{{item.type}}" />
                  </td>

                  <!-- The sermondescr target -->
                  <td class="hidden">
                    <input id="id_srmsign-{{forloop.counter0}}-sermon" name="srmsign-{{forloop.counter0}}-sermon" value="{{signform.instance.sermon.id}}" />
                  </td>

                  <!-- A delete button -->
                  <td title="Delete this link" style="vertical-align: middle; width: 20px; " class="clickable">
                    {% if is_app_editor %}
                      <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}

            {% endfor %}

            {% if is_app_editor %}
              <!-- Empty row with specifications -->
              <tr class="form-row empty-form">
                <!-- A 1-based counter for the forms in this set-->
                <td style="min-width: 20px;"><span>__counter__</span></td>

                <!-- A button to edit or save this signature -->
                <td valign="top" class="clickable hightlighted"  style="min-width: 20px;">
                  <div class="view-mode hidden">
                    <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit');" title="Edit this link">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </div>
                  <div class="edit-mode">
                    <a title="Save changes to this signature"
                        onclick="ru.passim.seeker.formset_update(this);"
                        targetid="sermondescr_signset"
                        targeturl="{% url 'sermon_signset' pk=object_id %}">
                      <span class="glyphicon glyphicon-ok"></span>
                    </a>
                  </div>
                </td>

                <!-- The signature -->
                <td  style="width: 100%;" class="editype-{{item.type}}">
                  <div class="view-mode hidden">{{srmsign_formset.empty_form.code.value}}</div>
                  <div class="edit-mode">{{srmsign_formset.empty_form.code}}</div>
                  <!-- Confirmation of delete -->
                  <div class="delete-confirm hidden">
                    <span>Do you really want to delete this {{item.name}} code?</span>
                    <span>
                      <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                    </span>
                    <span>
                      <a class="btn btn-xs jumbo-4 delete-row" extra="srmsign">Delete</a>
                    </span>
                  </div>
                </td>

                <!-- The editype -->
                <td  class="hidden" defaultvalue="{{item.type}}" >
                  <input id="id_srmsign-__counter__-editype" name="srmsign-__counter__-editype" />
                </td>

                <!-- The sermondescr target -->
                <td class="hidden" defaultvalue="{{object_id}}">
                  <input id="id_srmsign-__counter__-sermon" name="srmsign-__counter__-sermon"  />
                </td>

                <!-- A delete button -->
                <td title="Delete this link" style="vertical-align: middle; width: 20px; " class="clickable">
                  <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                </td>
              </tr>

              <!-- Add row -->
              <tr class="add-row">
                <td colspan="5">
                  <span id="add_sermon_signature">
                    <a href="#" title="Add one {{item.name}} signature to this sermon"><span class="glyphicon glyphicon-plus">&nbsp;</span>{{item.name}}</a>
                  </span>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>

      </div>
    {% endfor %}

    <div id="error_location"></div>
  </form>
</div>
