{% load i18n %}

<div class="">
      
    <table class="func-view" style="width: 100%;">
      <thead><tr><th>#</th><th class="tdnowrap">Edition</th><th>Pages</th></tr></thead>
      <tbody>
        {% for litref in sedi_list %}
            <tr class="dict-entry">
                <td>{{forloop.counter}}</td>
                <td><span class="short reference"><a href="{% url 'literature_list' %}#edi_{{litref.reference.pk}}">{{litref.reference.get_short_markdown|safe}}</a></span></td>
                <td><span class="pages">{{litref.pages|default_if_none:""}}</span></td>
             
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

