{% load i18n %}

<div id="ssglink_formset" class="row">
  <form action="">
    {% csrf_token %}
    <!-- Need to have the management stuff for 'glink' -->
    {{ ssglink_formset.management_form }}

    <div class="col-md-12">
      {% if not is_app_editor and ssglink_formset|length == 0 %}
        <p>No links to other super sermons gold defined for this one</p>
      {% else %}
        <table class="func-view" style="width: 100%;">
          <thead>
            <tr><th colspan="2">#</th><th class="tdnowrap">Link type</th><th>Target super sermon gold</th><th>&nbsp;</th></tr>
          </thead>
          <tbody>
            {% for linkform in ssglink_formset %}
              <tr class="form-row">
                <!-- A 1-based counter for the forms in this set-->
                <td style="min-width: 20px;"><span>{{forloop.counter}}</span></td>

                <!-- Hidden but essential: the id of this gold-to-gold link -->
                <td class="hidden">{{linkform.id}}</td>

                <!-- A button to edit or save this link -->
                <td valign="top" class="clickable"  style="min-width: 20px;">
                  {% if is_app_editor %}
                    <div class="view-mode">
                      <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit', 'select2');" title="Edit this link">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </div>
                    <div class="edit-mode hidden">
                      <a title="Save changes to this link"
                         onclick="ru.passim.seeker.formset_update(this);"
                         targetid="ssglink_postload_set"
                         targeturl="{% url 'equalgold_linkset' pk=object_id %}">
                        <span class="glyphicon glyphicon-ok"></span>
                      </a>
                    </div>
                  {% endif %}
                </td>

                <!-- The linktype -->
                <td  style="min-width: 150px;">
                  <div class="view-mode">{{linkform.instance.get_linktype_display}}</div>
                  <div class="edit-mode hidden">{{linkform.linktype}}</div>
                </td>

                <!-- The contents of the destination SSG -->
                <td style="width: 100%;">
                  <!-- deleted id_glink-NUM-gold inputs here -->

                  <!-- Necessary DST ?? -->
                  <div class="hidden">
                    <input id="id_ssglink-{{forloop.counter0}}-dst" name="ssglink-{{forloop.counter0}}-dst" value="{{linkform.instance.dst.id}}" />
                  </div>

                  <!-- View-mode: show the destination SSG according to the specs-->
                  <div class="view-mode">
                    <a href="{% url 'equalgold_details' linkform.instance.dst.id %}">{{linkform.instance.dst.get_view|safe}}</a>
                  </div>
                  <!-- THe edit-mode shows the Select2 list -->
                  <div class="edit-mode hidden">
                    {{linkform.target_list}}
                  </div>

                  <!-- Confirmation of delete -->
                  {% if is_app_editor %}
                    <div class="delete-confirm hidden">
                      <span>Do you really want to delete this link?</span>
                      <span>
                        <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                      </span>
                      <span class="hidden">{{linkform.DELETE}}</span>
                      <span>
                        <a class="btn btn-xs jumbo-4" 
                           onclick="ru.passim.seeker.formset_update(this, 'delete');"
                           targetid="ssglink_postload_set"
                           targeturl="{% url 'equalgold_linkset' pk=object_id %}">Delete</a>
                      </span>
                    </div>
                  {% endif %}
                </td>

                <!-- A delete button -->
                <td title="Delete this link" style="vertical-align: middle; width: 20px; " class="clickable">
                  {% if is_app_editor %}
                    <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                  {% endif %}
                </td>
              </tr>

            {% endfor %}

            {% if is_app_editor %}
              <!-- Empty row with specifications -->
              <tr class="form-row empty-form">
                <!-- A 1-based counter for the forms in this set-->
                <td style="min-width: 20px;"><span>__counter__</span></td>

                <!-- A button to edit or save this link -->
                <td valign="top" class="clickable hightlighted"  style="min-width: 20px;">
                  <div class="view-mode hidden">
                    <a onclick="ru.passim.seeker.gold_row_edit(this, 'edit');" title="Edit this link">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </div>
                  <div class="edit-mode">
                    <a title="Save changes to this link"
                        onclick="ru.passim.seeker.formset_update(this);"
                        targetid="ssglink_postload_set"
                        targeturl="{% url 'equalgold_linkset' pk=object_id %}">
                      <span class="glyphicon glyphicon-ok"></span>
                    </a>
                  </div>
                </td>

                <!-- The linktype -->
                <td  style="min-width: 150px;" defaultvalue="eqs">
                  <div class="view-mode hidden">{{ssglink_formset.empty_form.instance.get_linktype_display}}</div>
                  <div class="edit-mode">{{ssglink_formset.empty_form.linktype}}</div>
                </td>

                <!-- The contents of the destination gold sermon -->
                <td style="width: 100%;">
                  <div class="hidden"><input id="id_ssglink-__counter__-gold" name="ssglink-__counter__-gold" value="" /></div>
                  <div class="view-mode hidden">
                    {% include 'seeker/sermongold_view.html' with msitem=ssglink_formset.empty_form.instance.dst %}
                  </div>
                  <div class="edit-mode" >
                    {{ssglink_formset.empty_form.target_list}}
                  </div>
                  <!-- Confirmation of delete -->
                  <div class="delete-confirm hidden">
                    <span>Do you really want to delete this link?</span>
                    <span>
                      <a class="btn btn-xs jumbo-1" onclick="ru.passim.seeker.delete_cancel(this);">Cancel</a>
                    </span>
                    <span>
                      <a class="btn btn-xs jumbo-4 delete-row" extra="ssglink">Delete</a>
                    </span>
                  </div>
                </td>

                <!-- A delete button -->
                <td title="Delete this link" style="vertical-align: middle; width: 20px; " class="clickable">
                  <a onclick="ru.passim.seeker.delete_confirm(this);"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                </td>
              </tr>

              <!-- Row with waiting symbol -->
              <tr class="formset-wait hidden">
                <td></td>
                <td colspan="4">
                  <span>The information is being processed...</span>
                  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </td>
              </tr>

              <!-- Add row -->
              <tr class="add-row">
                <td colspan="5">
                  <span id="add_gold_link">
                    <a href="#" options="select2"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add a link from this super sermon gold to another one</a>
                  </span>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      {% endif %}

      <div id="error_location" class="error"></div>
    </div>
  </form>
</div>

<script>
  ru.passim.seeker.init_events();
  ru.passim.seeker.init_select2("ssglink_formset");
</script>

